/*=====================*/
/* CUBIC BEZIER CURVES */
/*=====================*/
/*---------------------------------------------------------------*/
/* --   MINIMAL LAYOUT
/*---------------------------------------------------------------*/
.wtbx-grid-minimal {
  margin: 0 auto;
  float: none;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .wtbx-grid-minimal .wtbx-grid-wrapper {
    padding: 30px 0; }
    .wtbx-grid-minimal .wtbx-grid-wrapper .wtbx-pagination {
      padding-top: 60px; }
  .wtbx-grid-minimal article.post-entry {
    margin: 15px 0;
    padding: 0;
    position: relative;
    display: inline-block; }
    .wtbx-grid-minimal article.post-entry:nth-child(2n-1) {
      clear: both; }
    .wtbx-grid-minimal article.post-entry.wtbx-col-md-6:nth-child(2n-1) {
      padding-right: 15px; }
    .wtbx-grid-minimal article.post-entry.wtbx-col-md-6:nth-child(2n) {
      padding-left: 15px; }
    @media only screen and (max-width: 991px) {
      .wtbx-grid-minimal article.post-entry.wtbx-col-md-6:nth-child(2n-1), .wtbx-grid-minimal article.post-entry.wtbx-col-md-6:nth-child(2n) {
        padding-left: 0;
        padding-right: 0; } }
    .wtbx-grid-minimal article.post-entry .post-minimal-inner {
      padding: 30px 45px 85px 45px;
      border-radius: 6px;
      background-color: #fff;
      height: 100%;
      box-shadow: 0 15px 55px -5px rgba(9, 31, 67, 0.05);
      -webkit-transition: all 0.4s cubic-bezier(0.2, 0, 0.3, 1);
      -moz-transition: all 0.4s cubic-bezier(0.2, 0, 0.3, 1);
      -ms-transition: all 0.4s cubic-bezier(0.2, 0, 0.3, 1);
      -o-transition: all 0.4s cubic-bezier(0.2, 0, 0.3, 1);
      transition: all 0.4s cubic-bezier(0.2, 0, 0.3, 1); }
      .wtbx-grid-minimal article.post-entry .post-minimal-inner:hover {
        border-color: transparent;
        box-shadow: 0 20px 70px -10px rgba(9, 31, 67, 0.1); }
    .wtbx-grid-minimal article.post-entry:hover .post-entry-header:before {
      width: 100px; }
    .wtbx-grid-minimal article.post-entry .entry-title {
      font-size: 1.714286em;
      font-weight: 700;
      display: inline-block;
      vertical-align: middle;
      margin: 10px 10px 10px 0; }
      .wtbx-grid-minimal article.post-entry .entry-title a {
        -webkit-transition: color 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -moz-transition: color 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -ms-transition: color 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -o-transition: color 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        transition: color 0.2s cubic-bezier(0.2, 0, 0.3, 1); }
    .wtbx-grid-minimal article.post-entry .post-entry-header {
      position: relative;
      margin-bottom: 40px;
      font-size: .928571em;
      font-weight: 600; }
      .wtbx-grid-minimal article.post-entry .post-entry-header:before {
        content: '';
        position: absolute;
        bottom: -14px;
        left: 0;
        width: 60px;
        height: 2px;
        border-radius: 2px;
        -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1); }
      .wtbx-grid-minimal article.post-entry .post-entry-header .meta-date {
        display: block;
        font-weight: 400; }
      .wtbx-grid-minimal article.post-entry .post-entry-header .meta-categories {
        display: inline-block;
        position: relative;
        vertical-align: middle; }
        @media only screen and (max-width: 768px) {
          .wtbx-grid-minimal article.post-entry .post-entry-header .meta-categories {
            display: none; } }
        .wtbx-grid-minimal article.post-entry .post-entry-header .meta-categories a {
          font-size: .928571em;
          display: inline-block;
          padding: 0 1em;
          line-height: 2.4;
          border-radius: 4em;
          margin-left: 2px;
          border-style: solid;
          border-width: 1px;
          -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1); }
          .wtbx-grid-minimal article.post-entry .post-entry-header .meta-categories a:hover {
            color: #fff;
            border-color: transparent; }
    .wtbx-grid-minimal article.post-entry .entry-summary, .wtbx-grid-minimal article.post-entry .entry-content {
      text-align: justify; }
    .wtbx-grid-minimal article.post-entry .meta-author {
      display: inline-block; }
      @media only screen and (max-width: 768px) {
        .wtbx-grid-minimal article.post-entry .meta-author {
          display: none; } }
      .wtbx-grid-minimal article.post-entry .meta-author .meta-author-link {
        display: inline-block; }
      .wtbx-grid-minimal article.post-entry .meta-author .author-image {
        float: left;
        display: inline-block;
        margin-right: 10px;
        font-size: 0;
        line-height: 0; }
        .wtbx-grid-minimal article.post-entry .meta-author .author-image img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1); }
      .wtbx-grid-minimal article.post-entry .meta-author span {
        font-size: .857143em;
        line-height: 24px;
        font-weight: 600;
        -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1); }
    .wtbx-grid-minimal article.post-entry .post-entry-footer {
      display: block;
      margin-top: 30px;
      line-height: 24px;
      position: absolute;
      bottom: 30px;
      left: 45px;
      right: 45px; }
      @media only screen and (max-width: 768px) {
        .wtbx-grid-minimal article.post-entry .post-entry-footer {
          display: inline-block; }
          .wtbx-grid-minimal article.post-entry .post-entry-footer .post-entry-footer-section:last-child {
            margin-left: 0; } }
      .wtbx-grid-minimal article.post-entry .post-entry-footer .post-entry-footer-section {
        display: inline-block;
        float: right;
        font-size: .857143em;
        font-weight: 600;
        text-transform: lowercase;
        margin-left: 20px; }
        .wtbx-grid-minimal article.post-entry .post-entry-footer .post-entry-footer-section:first-child {
          margin-left: 0; }
        .wtbx-grid-minimal article.post-entry .post-entry-footer .post-entry-footer-section i {
          font-size: 1.230769em;
          margin-right: 5px;
          position: relative;
          top: 2px; }
      .wtbx-grid-minimal article.post-entry .post-entry-footer .post-like a {
        background-color: transparent;
        box-shadow: none; }
        .wtbx-grid-minimal article.post-entry .post-entry-footer .post-like a > * {
          line-height: 20px;
          font-size: .928571em; }
        .wtbx-grid-minimal article.post-entry .post-entry-footer .post-like a > i {
          font-size: 1.230769em;
          float: left;
          position: relative;
          top: 2px; }
