@charset "UTF-8";
/*=====================*/
/* CUBIC BEZIER CURVES */
/*=====================*/
/*---------------------------------------------------------------*/
/* --   TILES LAYOUT
/*---------------------------------------------------------------*/
.portfolio-tiles {
  padding: 0; }
  .portfolio-tiles .wtbx-grid-tiles {
    max-width: none; }
  .portfolio-tiles article.portfolio-entry {
    margin: 0;
    z-index: 1; }
    .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner {
      position: relative;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 15px 55px -5px rgba(9, 31, 67, 0.05);
      z-index: 1; }
      .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner:hover {
        -moz-transform: translate3d(0, -5px, 0);
        -o-transform: translate3d(0, -5px, 0);
        -ms-transform: translate3d(0, -5px, 0);
        -webkit-transform: translate3d(0, -5px, 0);
        -webkit-transform: -webkit-translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
        box-shadow: 0 20px 70px -10px rgba(9, 31, 67, 0.1);
        -webkit-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -moz-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -ms-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -o-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1); }
        .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner:hover .portfolio-tiles-media {
          -moz-transform: scale3d(1.05, 1.05, 1);
          -o-transform: scale3d(1.05, 1.05, 1);
          -ms-transform: scale3d(1.05, 1.05, 1);
          -webkit-transform: scale3d(1.05, 1.05, 1);
          -webkit-transform: -webkit-scale3d(1.05, 1.05, 1);
          transform: scale3d(1.05, 1.05, 1);
          -webkit-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
          -moz-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
          -ms-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
          -o-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
          transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1); }
        .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner:hover .portfolio-tiles-button {
          opacity: 1;
          -moz-transform: scale3d(1, 1, 1);
          -o-transform: scale3d(1, 1, 1);
          -ms-transform: scale3d(1, 1, 1);
          -webkit-transform: scale3d(1, 1, 1);
          -webkit-transform: -webkit-scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); }
      .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .meta-link:hover {
        opacity: 1; }
      .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-box {
        overflow: hidden;
        -moz-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -webkit-transform: -webkit-scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -moz-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -ms-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -o-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1); }
      .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-media {
        moz-transform-origin: top center;
        -o-transform-origin: top center;
        -ms-transform-origin: top center;
        -webkit-transform-origin: top center;
        transform-origin: top center;
        -webkit-transition: all 1s cubic-bezier(0.2, 0, 0.3, 1);
        -moz-transition: all 1s cubic-bezier(0.2, 0, 0.3, 1);
        -ms-transition: all 1s cubic-bezier(0.2, 0, 0.3, 1);
        -o-transition: all 1s cubic-bezier(0.2, 0, 0.3, 1);
        transition: all 1s cubic-bezier(0.2, 0, 0.3, 1); }
        .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-media .portfolio-thumb-inner {
          position: relative; }
          .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-media .portfolio-thumb-inner .portfolio-thumbnail {
            border-radius: inherit;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0; }
      .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        cursor: pointer;
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transform: -webkit-translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: opacity 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -moz-transition: opacity 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -ms-transition: opacity 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        -o-transition: opacity 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        transition: opacity 0.2s cubic-bezier(0.2, 0, 0.3, 1);
        border-radius: inherit; }
        .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-overlay .portfolio-tiles-bg {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 1; }
        .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-overlay i {
          position: absolute;
          left: 50%;
          top: 50%;
          color: #fff;
          font-size: 14px;
          width: 60px;
          height: 60px;
          line-height: 60px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.2);
          text-align: center;
          -moz-transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
          -o-transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
          -ms-transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
          -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
          -webkit-transform: -webkit-translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
          transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
          -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1); }
        .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-overlay:hover {
          -webkit-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
          -moz-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
          -ms-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
          -o-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
          transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
          opacity: 1; }
          .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-overlay:hover i {
            -moz-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
            -o-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
            -ms-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
            -webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
            -webkit-transform: -webkit-translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
            transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1); }
      .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-button {
        display: block;
        position: absolute;
        top: -23px;
        right: 30px;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 2;
        box-shadow: 0 5px 25px -4px rgba(9, 31, 67, 0.15);
        opacity: 0;
        -moz-transform: scale3d(0.95, 0.95, 1);
        -o-transform: scale3d(0.95, 0.95, 1);
        -ms-transform: scale3d(0.95, 0.95, 1);
        -webkit-transform: scale3d(0.95, 0.95, 1);
        -webkit-transform: -webkit-scale3d(0.95, 0.95, 1);
        transform: scale3d(0.95, 0.95, 1);
        -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1); }
        .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-button i {
          font-size: 17px;
          line-height: 46px;
          display: block;
          text-align: center;
          -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1); }
        .portfolio-tiles article.portfolio-entry .portfolio-tiles-inner .portfolio-tiles-button:hover i {
          color: #fff; }
    .portfolio-tiles article.portfolio-entry .portfolio-entry-meta {
      display: block;
      padding: 1em 1.75em;
      position: relative;
      z-index: 2; }
      .portfolio-tiles article.portfolio-entry .portfolio-entry-meta.like-enabled {
        padding-right: 60px; }
  .portfolio-tiles .portfolio-meta-primary {
    margin: 0;
    font-size: inherit;
    line-height: 1.5;
    font-weight: 600;
    text-transform: none;
    display: block;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: "…";
    white-space: nowrap;
    overflow: hidden;
    padding-right: 50px; }
  .portfolio-tiles .portfolio-meta-secondary {
    margin: 0;
    font-size: .857143em;
    line-height: 1.5;
    font-weight: 600;
    min-height: 18px;
    display: block;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: "…";
    white-space: nowrap;
    overflow: hidden;
    padding-right: 50px; }

.wtbx_vc_portfolio_grid.wtbx_meta_skin_dark article.portfolio-entry .portfolio-tiles-inner {
  box-shadow: 0 15px 55px -5px rgba(0, 0, 0, 0.2); }
  .wtbx_vc_portfolio_grid.wtbx_meta_skin_dark article.portfolio-entry .portfolio-tiles-inner:hover {
    box-shadow: 0 20px 70px -10px rgba(0, 0, 0, 0.4); }
