/*=====================*/
/* CUBIC BEZIER CURVES */
/*=====================*/
/*
* Content slider
*/
.wtbx_vc_content_slider {
  overflow: hidden;
  position: relative;
}

.wtbx_vc_content_slider .flickity-viewport {
  -webkit-transition: height 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: height 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: height 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: height 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  transition: height 0.3s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_content_slider .wtbx_content_slider_wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.wtbx_vc_content_slider .wtbx_content_slider_wrapper.wtbx_slider_init {
  visibility: visible;
  opacity: 1;
}

.wtbx_vc_content_slider .wtbx_vc_content_slide_inner {
  text-align: start;
}

.wtbx_vc_content_slider.wtbx_pagination_enabled .wtbx_content_slider_wrapper {
  margin-bottom: 45px;
}

.wtbx_vc_content_slider .wtbx_dots {
  bottom: -30px;
}

.wtbx_vc_content_slider .wtbx_dots.wtbx_dots_style_3 {
  bottom: -15px;
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_dots {
  bottom: -60px;
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_dots.wtbx_dots_style_3 {
  bottom: -45px;
}

.wtbx_vc_content_slider.wtbx_style_default .wtbx_content_slider_wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

.wtbx_vc_content_slider.wtbx_style_default .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner {
  padding: 30px;
}

.wtbx_vc_content_slider.wtbx_style_default.wtbx_no_arrows .wtbx_content_slider_wrapper {
  padding-left: 0;
  padding-right: 0;
}

.wtbx_vc_content_slider.wtbx_style_default .flickity-viewport {
  -webkit-transition: height 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: height 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: height 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: height 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: height 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_content_slider.wtbx_style_fixed {
  overflow: visible;
}

.wtbx_vc_content_slider.wtbx_style_fixed .wtbx_content_slider_inner {
  margin-left: -30px;
  margin-right: -30px;
}

.wtbx_vc_content_slider.wtbx_style_fixed .wtbx_content_slider_wrapper {
  padding-left: 0;
  padding-right: 0;
}

.wtbx_vc_content_slider.wtbx_style_fixed .wtbx_content_slider_wrapper .flickity-viewport {
  overflow: visible !important;
  -webkit-transition: height 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: height 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: height 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: height 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: height 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_content_slider.wtbx_style_fixed .wtbx_content_slider_wrapper .wtbx_vc_content_slide {
  -webkit-perspective: 800px;
  perspective: 800px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.wtbx_vc_content_slider.wtbx_style_fixed .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container {
  -webkit-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_content_slider.wtbx_style_fixed .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container.slide-animated {
  -webkit-transition: opacity 0s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: opacity 0s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: opacity 0s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: opacity 0s cubic-bezier(0.2, 0, 0.3, 1);
  transition: opacity 0s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_content_slider.wtbx_style_fixed .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner {
  padding: 30px;
}

.wtbx_vc_content_slider.wtbx_style_boxed_simple .wtbx_content_slider_wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.wtbx_vc_content_slider.wtbx_style_boxed_simple .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container {
  padding: 30px 30px;
}

.wtbx_vc_content_slider.wtbx_style_boxed_simple .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
}

.wtbx_vc_content_slider.wtbx_style_boxed_scale .wtbx_content_slider_wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

.wtbx_vc_content_slider.wtbx_style_boxed_scale .wtbx_content_slider_wrapper .flickity-viewport {
  overflow: visible !important;
}

.wtbx_vc_content_slider.wtbx_style_boxed_scale .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container {
  padding: 30px 45px;
  -moz-transform: scale3d(0.9, 0.9, 1);
  -o-transform: scale3d(0.9, 0.9, 1);
  -ms-transform: scale3d(0.9, 0.9, 1);
  -webkit-transform: scale3d(0.9, 0.9, 1);
  -webkit-transform: -webkit-scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
}

.wtbx_vc_content_slider.wtbx_style_boxed_scale .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
  opacity: .6;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_content_slider.wtbx_style_boxed_scale .wtbx_content_slider_wrapper .wtbx_vc_content_slide.is-selected .wtbx_vc_content_slide_container {
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -webkit-transform: -webkit-scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.wtbx_vc_content_slider.wtbx_style_boxed_scale .wtbx_content_slider_wrapper .wtbx_vc_content_slide.is-selected .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner,
.wtbx_vc_content_slider.wtbx_style_boxed_scale .wtbx_content_slider_wrapper .wtbx_vc_content_slide.is-selected .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner:hover {
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -webkit-transform: -webkit-scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
  box-shadow: 0 15px 60px -10px rgba(9, 31, 67, 0.15);
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_content_slider_inner {
  width: 70%;
  margin: 0 auto;
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .flickity-viewport {
  overflow: visible !important;
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .flickity-viewport .flickity-slider {
  -moz-transform: translate3d(0, 0, 0) !important;
  -o-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -webkit-transform: -webkit-translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_vc_content_slide {
  z-index: -3;
  left: 0 !important;
  -moz-transform: translate3d(0, 0, 0) scale3d(0.4, 0.4, 1);
  -o-transform: translate3d(0, 0, 0) scale3d(0.4, 0.4, 1);
  -ms-transform: translate3d(0, 0, 0) scale3d(0.4, 0.4, 1);
  -webkit-transform: translate3d(0, 0, 0) scale3d(0.4, 0.4, 1);
  -webkit-transform: -webkit-translate3d(0, 0, 0) scale3d(0.4, 0.4, 1);
  transform: translate3d(0, 0, 0) scale3d(0.4, 0.4, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  height: 100%;
  display: table;
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_vc_content_slide.wtbx_slide_prev {
  opacity: 1 !important;
  z-index: -3;
  -moz-transform: translate3d(-30%, 0, 0) scale3d(0.8, 0.8, 1);
  -o-transform: translate3d(-30%, 0, 0) scale3d(0.8, 0.8, 1);
  -ms-transform: translate3d(-30%, 0, 0) scale3d(0.8, 0.8, 1);
  -webkit-transform: translate3d(-30%, 0, 0) scale3d(0.8, 0.8, 1);
  -webkit-transform: -webkit-translate3d(-30%, 0, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(-30%, 0, 0) scale3d(0.8, 0.8, 1);
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_vc_content_slide.wtbx_slide_next {
  opacity: 1 !important;
  z-index: -3;
  -moz-transform: translate3d(30%, 0, 0) scale3d(0.8, 0.8, 1);
  -o-transform: translate3d(30%, 0, 0) scale3d(0.8, 0.8, 1);
  -ms-transform: translate3d(30%, 0, 0) scale3d(0.8, 0.8, 1);
  -webkit-transform: translate3d(30%, 0, 0) scale3d(0.8, 0.8, 1);
  -webkit-transform: -webkit-translate3d(30%, 0, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(30%, 0, 0) scale3d(0.8, 0.8, 1);
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container {
  padding: 0;
  height: 100%;
  -moz-transform: scale3d(0.8, 0.8, 1);
  -o-transform: scale3d(0.8, 0.8, 1);
  -ms-transform: scale3d(0.8, 0.8, 1);
  -webkit-transform: scale3d(0.8, 0.8, 1);
  -webkit-transform: -webkit-scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_vc_content_slide.is-selected {
  z-index: 1;
  -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform: -webkit-translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_vc_content_slide.is-selected .wtbx_vc_content_slide_container {
  opacity: 1;
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -webkit-transform: -webkit-scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_vc_content_slide.is-selected .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner,
.wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_vc_content_slide.is-selected .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner:hover {
  opacity: 1;
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -webkit-transform: -webkit-scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  box-shadow: 0 15px 60px -10px rgba(9, 31, 67, 0.15);
}

.wtbx_vc_content_slider.wtbx_align_middle .wtbx_vc_content_slide {
  display: table;
  height: 100%;
}

.wtbx_vc_content_slider.wtbx_align_middle .wtbx_vc_content_slide .wtbx_vc_content_slide_container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.wtbx_vc_content_slider.wtbx_align_fullheight .flickity-slider {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.wtbx_vc_content_slider.wtbx_align_fullheight .wtbx_content_slider_wrapper.wtbx_slider_init .wtbx_vc_content_slide {
  height: 100%;
}

.wtbx_vc_content_slider.wtbx_align_fullheight .wtbx_vc_content_slide_container {
  height: 100%;
}

.wtbx_vc_content_slider.wtbx_align_fullheight .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner {
  height: 100%;
}

.wtbx_vc_content_slider.wtbx_align_fullheight .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner .wtbx_content_slide_inner {
  height: 100%;
}

.wtbx_vc_content_slider:hover .wtbx_dots ul,
.wtbx_vc_content_slider:hover .wtbx_dots ol {
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  .wtbx_vc_content_slider.wtbx_style_boxed_scale .wtbx_vc_content_slide {
    width: 100% !important;
  }
}

@media only screen and (max-width: 767px) {
  .wtbx_vc_content_slider .wtbx_content_slider_wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 45px;
    position: relative;
  }
  .wtbx_vc_content_slider .wtbx_content_slider_wrapper .wtbx_vc_content_slide {
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
    -o-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
    -webkit-transform: -webkit-translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
  }
  .wtbx_vc_content_slider .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container {
    opacity: 1 !important;
    padding: 15px !important;
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
    -o-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
    -webkit-transform: -webkit-translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) !important;
  }
  .wtbx_vc_content_slider .wtbx_content_slider_wrapper .wtbx_vc_content_slide .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner {
    -moz-transform: scale3d(1, 1, 1) !important;
    -o-transform: scale3d(1, 1, 1) !important;
    -ms-transform: scale3d(1, 1, 1) !important;
    -webkit-transform: scale3d(1, 1, 1) !important;
    -webkit-transform: -webkit-scale3d(1, 1, 1) !important;
    transform: scale3d(1, 1, 1) !important;
  }
  .wtbx_vc_content_slider .wtbx_content_slider_wrapper .wtbx_content_slider_inner {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .wtbx_vc_content_slider .wtbx_content_slider_nav {
    top: auto;
    bottom: 15px;
    height: auto;
  }
  .wtbx_vc_content_slider.wtbx_style_boxed_scale .wtbx_content_slider_wrapper .wtbx_vc_content_slide.slick-active .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner, .wtbx_vc_content_slider.wtbx_style_boxed_simple .wtbx_content_slider_wrapper .wtbx_vc_content_slide.slick-active .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner, .wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_vc_content_slide.slick-active .wtbx_vc_content_slide_container .wtbx_vc_content_slide_inner {
    box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.15) !important;
  }
  .wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_content_slider_wrapper .wtbx_vc_content_slide:not(.is-selected) {
    -moz-transform: scale3d(0.6, 0.6, 1) !important;
    -o-transform: scale3d(0.6, 0.6, 1) !important;
    -ms-transform: scale3d(0.6, 0.6, 1) !important;
    -webkit-transform: scale3d(0.6, 0.6, 1) !important;
    -webkit-transform: -webkit-scale3d(0.6, 0.6, 1) !important;
    transform: scale3d(0.6, 0.6, 1) !important;
  }
  .wtbx_vc_content_slider .wtbx_arrows {
    display: none;
  }
  .wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_dots {
    bottom: -45px;
  }
  .wtbx_vc_content_slider.wtbx_style_boxed_overlap .wtbx_dots.wtbx_dots_style_3 {
    bottom: -30px;
  }
}

.wtbx_vc_content_slider.wtbx_hide_nav .wtbx_slider_pagination,
.wtbx_vc_content_slider.wtbx_hide_nav .wtbx_dots,
.wtbx_vc_content_slider.wtbx_hide_nav .wtbx_arrow_prev, .wtbx_vc_content_slider.wtbx_hide_nav .wtbx_arrow_next {
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_content_slider.wtbx_hide_nav .wtbx_content_slider_wrapper:not(:hover) .wtbx_slider_pagination,
.wtbx_vc_content_slider.wtbx_hide_nav .wtbx_content_slider_wrapper:not(:hover) .wtbx_dots {
  opacity: 0;
  -moz-transform: translate3d(0, -5px, 0);
  -o-transform: translate3d(0, -5px, 0);
  -ms-transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  -webkit-transform: -webkit-translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

.wtbx_vc_content_slider.wtbx_hide_nav .wtbx_content_slider_wrapper:not(:hover) .wtbx_arrow_prev {
  opacity: 0;
  -moz-transform: translate3d(15px, -50%, 0);
  -o-transform: translate3d(15px, -50%, 0);
  -ms-transform: translate3d(15px, -50%, 0);
  -webkit-transform: translate3d(15px, -50%, 0);
  -webkit-transform: -webkit-translate3d(15px, -50%, 0);
  transform: translate3d(15px, -50%, 0);
}

.wtbx_vc_content_slider.wtbx_hide_nav .wtbx_content_slider_wrapper:not(:hover) .wtbx_arrow_next {
  opacity: 0;
  -moz-transform: translate3d(-15px, -50%, 0);
  -o-transform: translate3d(-15px, -50%, 0);
  -ms-transform: translate3d(-15px, -50%, 0);
  -webkit-transform: translate3d(-15px, -50%, 0);
  -webkit-transform: -webkit-translate3d(-15px, -50%, 0);
  transform: translate3d(-15px, -50%, 0);
}

.wtbx_vc_content_slider [data-slides-desktop="scale"] .wtbx_vc_content_slide {
  width: 38%;
}

.wtbx_vc_content_slider [data-slides-desktop="centered"] .wtbx_vc_content_slide {
  width: 65%;
}

.wtbx_vc_content_slider [data-slides-desktop="1"] .wtbx_vc_content_slide {
  width: 100%;
}

.wtbx_vc_content_slider [data-slides-desktop="2"] .wtbx_vc_content_slide {
  width: 50%;
}

.wtbx_vc_content_slider [data-slides-desktop="3"] .wtbx_vc_content_slide {
  width: 33.3333%;
}

.wtbx_vc_content_slider [data-slides-desktop="4"] .wtbx_vc_content_slide {
  width: 25%;
}

.wtbx_vc_content_slider [data-slides-desktop="5"] .wtbx_vc_content_slide {
  width: 20%;
}

.wtbx_vc_content_slider [data-slides-desktop="6"] .wtbx_vc_content_slide {
  width: 16.6666%;
}

.wtbx_vc_content_slider [data-slides-desktop="7"] .wtbx_vc_content_slide {
  width: 14.2857%;
}

.wtbx_vc_content_slider [data-slides-desktop="8"] .wtbx_vc_content_slide {
  width: 12.5%;
}

@media only screen and (max-width: 1024px) {
  .wtbx_vc_content_slider [data-slides-tablet="1"] .wtbx_vc_content_slide {
    width: 100%;
  }
  .wtbx_vc_content_slider [data-slides-tablet="2"] .wtbx_vc_content_slide {
    width: 50%;
  }
  .wtbx_vc_content_slider [data-slides-tablet="3"] .wtbx_vc_content_slide {
    width: 33.3333%;
  }
  .wtbx_vc_content_slider [data-slides-tablet="4"] .wtbx_vc_content_slide {
    width: 25%;
  }
  .wtbx_vc_content_slider [data-slides-tablet="5"] .wtbx_vc_content_slide {
    width: 20%;
  }
  .wtbx_vc_content_slider [data-slides-tablet="6"] .wtbx_vc_content_slide {
    width: 16.6666%;
  }
  .wtbx_vc_content_slider [data-slides-tablet="7"] .wtbx_vc_content_slide {
    width: 14.2857%;
  }
  .wtbx_vc_content_slider [data-slides-tablet="8"] .wtbx_vc_content_slide {
    width: 12.5%;
  }
}

@media only screen and (max-width: 767px) {
  .wtbx_vc_content_slider [data-slides-mobile="1"] .wtbx_vc_content_slide {
    width: 100%;
  }
  .wtbx_vc_content_slider [data-slides-mobile="2"] .wtbx_vc_content_slide {
    width: 50%;
  }
  .wtbx_vc_content_slider [data-slides-mobile="3"] .wtbx_vc_content_slide {
    width: 33.3333%;
  }
  .wtbx_vc_content_slider [data-slides-mobile="4"] .wtbx_vc_content_slide {
    width: 25%;
  }
  .wtbx_vc_content_slider [data-slides-mobile="5"] .wtbx_vc_content_slide {
    width: 20%;
  }
  .wtbx_vc_content_slider [data-slides-mobile="6"] .wtbx_vc_content_slide {
    width: 16.6666%;
  }
  .wtbx_vc_content_slider [data-slides-mobile="7"] .wtbx_vc_content_slide {
    width: 14.2857%;
  }
  .wtbx_vc_content_slider [data-slides-mobile="8"] .wtbx_vc_content_slide {
    width: 12.5%;
  }
}
