@charset "UTF-8";
/*=====================*/
/* CUBIC BEZIER CURVES */
/*=====================*/
/*---------------------------------------------------------------*/
/* --   SQUARE LAYOUT
/*---------------------------------------------------------------*/
.portfolio-square {
  padding: 0; }
  .portfolio-square .wtbx-grid-square {
    max-width: none; }
  .portfolio-square article.portfolio-entry {
    margin: 0;
    z-index: 1; }
    .portfolio-square article.portfolio-entry .portfolio-square-inner .meta-link:hover {
      opacity: 1; }
    .portfolio-square article.portfolio-entry .portfolio-square-inner .portfolio-square-box {
      position: relative;
      overflow: hidden;
      z-index: 2;
      box-shadow: 0 15px 55px -5px rgba(9, 31, 67, 0.1);
      -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
      -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
      -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
      -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
      transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1); }
      .portfolio-square article.portfolio-entry .portfolio-square-inner .portfolio-square-box:hover {
        -moz-transform: translate3d(0, -5px, 0);
        -o-transform: translate3d(0, -5px, 0);
        -ms-transform: translate3d(0, -5px, 0);
        -webkit-transform: translate3d(0, -5px, 0);
        -webkit-transform: -webkit-translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
        box-shadow: 0 20px 70px -10px rgba(9, 31, 67, 0.3); }
        .portfolio-square article.portfolio-entry .portfolio-square-inner .portfolio-square-box:hover .portfolio-square-overlay i {
          -moz-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
          -o-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
          -ms-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
          -webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
          -webkit-transform: -webkit-translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
          transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1); }
    .portfolio-square article.portfolio-entry .portfolio-square-inner .portfolio-square-media .portfolio-thumb-inner {
      position: relative; }
      .portfolio-square article.portfolio-entry .portfolio-square-inner .portfolio-square-media .portfolio-thumb-inner .portfolio-thumbnail {
        border-radius: inherit;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
    .portfolio-square article.portfolio-entry .portfolio-square-inner .portfolio-square-overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      cursor: pointer;
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-transform: -webkit-translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: opacity 0.3s cubic-bezier(0.2, 0, 0.3, 1);
      -moz-transition: opacity 0.3s cubic-bezier(0.2, 0, 0.3, 1);
      -ms-transition: opacity 0.3s cubic-bezier(0.2, 0, 0.3, 1);
      -o-transition: opacity 0.3s cubic-bezier(0.2, 0, 0.3, 1);
      transition: opacity 0.3s cubic-bezier(0.2, 0, 0.3, 1);
      border-radius: inherit; }
      .portfolio-square article.portfolio-entry .portfolio-square-inner .portfolio-square-overlay .portfolio-square-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1; }
      .portfolio-square article.portfolio-entry .portfolio-square-inner .portfolio-square-overlay i {
        position: absolute;
        left: 50%;
        top: 50%;
        color: #fff;
        font-size: 14px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        -moz-transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
        -o-transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
        -ms-transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
        -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
        -webkit-transform: -webkit-translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
        transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1);
        -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1); }
    .portfolio-square article.portfolio-entry .post-like {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 10;
      -moz-transform: translate3d(0, -50%, 0);
      -o-transform: translate3d(0, -50%, 0);
      -ms-transform: translate3d(0, -50%, 0);
      -webkit-transform: translate3d(0, -50%, 0);
      -webkit-transform: -webkit-translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0); }
      .portfolio-square article.portfolio-entry .post-like a {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        text-shadow: none;
        opacity: 1;
        -moz-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -webkit-transform: -webkit-scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1), transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1), transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1), transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1), transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1), transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        .portfolio-square article.portfolio-entry .post-like a i {
          display: block;
          font-size: 14px;
          line-height: 30px;
          -webkit-transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -moz-transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -ms-transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          -o-transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s cubic-bezier(0.2, 0, 0.3, 1);
          transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s cubic-bezier(0.2, 0, 0.3, 1); }
        .portfolio-square article.portfolio-entry .post-like a .like-count {
          line-height: 30px;
          font-size: 10px;
          position: absolute;
          margin: 0;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -ms-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out; }
        .portfolio-square article.portfolio-entry .post-like a:hover {
          -moz-transform: scale3d(1.1, 1.1, 1);
          -o-transform: scale3d(1.1, 1.1, 1);
          -ms-transform: scale3d(1.1, 1.1, 1);
          -webkit-transform: scale3d(1.1, 1.1, 1);
          -webkit-transform: -webkit-scale3d(1.1, 1.1, 1);
          transform: scale3d(1.1, 1.1, 1); }
          .portfolio-square article.portfolio-entry .post-like a:hover i {
            -moz-transform: scale(0.5);
            -o-transform: scale(0.5);
            -ms-transform: scale(0.5);
            -webkit-transform: scale(0.5);
            -webkit-transform: -webkit-scale(0.5);
            transform: scale(0.5);
            opacity: 0; }
          .portfolio-square article.portfolio-entry .post-like a:hover span {
            opacity: 1; }
        .portfolio-square article.portfolio-entry .post-like a.loading {
          pointer-events: none; }
          .portfolio-square article.portfolio-entry .post-like a.loading i {
            opacity: 1; }
          .portfolio-square article.portfolio-entry .post-like a.loading span {
            opacity: 0; }
          .portfolio-square article.portfolio-entry .post-like a.loading i {
            animation: pulse 0.7s cubic-bezier(0.2, 0, 0.3, 1) infinite;
            -webkit-animation: pulse 0.7s cubic-bezier(0.2, 0, 0.3, 1) infinite; }
    .portfolio-square article.portfolio-entry .portfolio-entry-meta {
      display: block;
      padding: 0;
      margin-top: 1.5em;
      position: relative;
      z-index: 2; }
      .portfolio-square article.portfolio-entry .portfolio-entry-meta.like-enabled {
        padding-right: 60px; }
  .portfolio-square .portfolio-meta-primary {
    margin: 0;
    font-size: inherit;
    line-height: 1.5;
    font-weight: 600;
    font-size: 1.214286em;
    display: block;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: "…";
    white-space: nowrap;
    overflow: hidden; }
  .portfolio-square .portfolio-meta-secondary {
    margin: 0;
    font-size: .928571em;
    line-height: 1.5;
    min-height: 18px;
    display: block;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: "…";
    white-space: nowrap;
    overflow: hidden; }

.wtbx_vc_portfolio_grid.wtbx_meta_left .portfolio-square-inner .portfolio-meta-primary,
.wtbx_vc_portfolio_grid.wtbx_meta_left .portfolio-square-inner .portfolio-meta-secondary {
  text-align: left; }

.wtbx_vc_portfolio_grid.wtbx_meta_center .portfolio-square-inner .portfolio-meta-primary,
.wtbx_vc_portfolio_grid.wtbx_meta_center .portfolio-square-inner .portfolio-meta-secondary {
  text-align: center; }

.wtbx_vc_portfolio_grid.wtbx_meta_right .portfolio-square-inner .portfolio-meta-primary,
.wtbx_vc_portfolio_grid.wtbx_meta_right .portfolio-square-inner .portfolio-meta-secondary {
  text-align: right; }

.wtbx_vc_portfolio_grid.wtbx_meta_skin_dark .portfolio-square-inner .portfolio-meta-primary {
  color: #fff; }
  .wtbx_vc_portfolio_grid.wtbx_meta_skin_dark .portfolio-square-inner .portfolio-meta-primary * {
    color: #fff; }

.wtbx_vc_portfolio_grid.wtbx_meta_skin_dark .portfolio-square-inner .portfolio-meta-secondary {
  color: rgba(255, 255, 255, 0.6); }
  .wtbx_vc_portfolio_grid.wtbx_meta_skin_dark .portfolio-square-inner .portfolio-meta-secondary * {
    color: rgba(255, 255, 255, 0.6); }

.wtbx_vc_portfolio_grid.wtbx_meta_skin_dark article.portfolio-entry .portfolio-square-inner .portfolio-square-box {
  box-shadow: 0 15px 55px -5px rgba(0, 0, 0, 0.2); }
  .wtbx_vc_portfolio_grid.wtbx_meta_skin_dark article.portfolio-entry .portfolio-square-inner .portfolio-square-box:hover {
    box-shadow: 0 20px 70px -10px rgba(0, 0, 0, 0.4); }
