/*=====================*/
/* CUBIC BEZIER CURVES */
/*=====================*/
/*
* Image with caption
*/
.wtbx_vc_image_caption {
  line-height: 0;
}

.wtbx_vc_image_caption .wtbx_image_wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption .wtbx_image_wrapper .wtbx_image_inner {
  position: relative;
  overflow: hidden;
  z-index: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wtbx_vc_image_caption .wtbx_image_caption_content {
  position: absolute;
  z-index: 2;
}

.wtbx_vc_image_caption .wtbx_image_caption_title {
  font-size: 1.214286em;
  font-weight: 700;
  line-height: 1.5;
  padding: .5em 0;
}

.wtbx_vc_image_caption .wtbx_image_caption_descr {
  font-size: 0.928571em;
  font-weight: 400;
  line-height: 1.5;
}

.wtbx_vc_image_caption .wtbx_image_overlap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: inherit;
}

.wtbx_vc_image_caption a.wtbx_image_overlap {
  cursor: pointer;
}

.wtbx_vc_image_caption.wtbx_shadow_small .wtbx_image_inner {
  box-shadow: 0 5px 25px -4px rgba(9, 31, 67, 0.3);
}

.wtbx_vc_image_caption.wtbx_shadow_medium .wtbx_image_inner {
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.3);
}

.wtbx_vc_image_caption.wtbx_shadow_large .wtbx_image_inner {
  box-shadow: 0 15px 55px -5px rgba(9, 31, 67, 0.3);
}

.wtbx_vc_image_caption.wtbx_style_1 .wtbx_image_caption_content {
  padding: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_appear .wtbx_image_inner .wtbx_image_caption_content {
  opacity: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_appear .wtbx_image_inner .wtbx_image_caption_content .wtbx_image_caption_title {
  opacity: 0;
  moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -moz-transform: translate3d(0, 15px, 0);
  -o-transform: translate3d(0, 15px, 0);
  -ms-transform: translate3d(0, 15px, 0);
  -webkit-transform: translate3d(0, 15px, 0);
  -webkit-transform: -webkit-translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_appear .wtbx_image_inner .wtbx_image_caption_content .wtbx_image_caption_descr {
  opacity: 0;
  -moz-transform: translate3d(0, 20px, 0);
  -o-transform: translate3d(0, 20px, 0);
  -ms-transform: translate3d(0, 20px, 0);
  -webkit-transform: translate3d(0, 20px, 0);
  -webkit-transform: -webkit-translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_appear .wtbx_image_inner .wtbx_image_bg {
  -webkit-transition: transform 1.4s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: transform 1.4s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: transform 1.4s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: transform 1.4s cubic-bezier(0.2, 0, 0.3, 1);
  transition: transform 1.4s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_appear .wtbx_image_inner.hover .wtbx_image_caption_content {
  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_appear .wtbx_image_inner.hover .wtbx_image_caption_content .wtbx_image_caption_title {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_appear .wtbx_image_inner.hover .wtbx_image_caption_content .wtbx_image_caption_descr {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_appear .wtbx_image_inner.hover .wtbx_image_bg {
  -moz-transform: scale3d(1.1, 1.1, 1);
  -o-transform: scale3d(1.1, 1.1, 1);
  -ms-transform: scale3d(1.1, 1.1, 1);
  -webkit-transform: scale3d(1.1, 1.1, 1);
  -webkit-transform: -webkit-scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_disappear .wtbx_image_inner .wtbx_image_caption_content {
  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_disappear .wtbx_image_inner .wtbx_image_caption_content .wtbx_image_caption_title {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_disappear .wtbx_image_inner .wtbx_image_caption_content .wtbx_image_caption_descr {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_disappear .wtbx_image_inner .wtbx_image_bg {
  -moz-transform: scale3d(1.1, 1.1, 1);
  -o-transform: scale3d(1.1, 1.1, 1);
  -ms-transform: scale3d(1.1, 1.1, 1);
  -webkit-transform: scale3d(1.1, 1.1, 1);
  -webkit-transform: -webkit-scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
  -webkit-transition: transform 1s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: transform 1s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: transform 1s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: transform 1s cubic-bezier(0.2, 0, 0.3, 1);
  transition: transform 1s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_disappear .wtbx_image_inner.hover .wtbx_image_caption_content {
  opacity: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_disappear .wtbx_image_inner.hover .wtbx_image_caption_content .wtbx_image_caption_title {
  opacity: 0;
  moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -moz-transform: translate3d(0, 15px, 0);
  -o-transform: translate3d(0, 15px, 0);
  -ms-transform: translate3d(0, 15px, 0);
  -webkit-transform: translate3d(0, 15px, 0);
  -webkit-transform: -webkit-translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_disappear .wtbx_image_inner.hover .wtbx_image_caption_content .wtbx_image_caption_descr {
  opacity: 0;
  -moz-transform: translate3d(0, 20px, 0);
  -o-transform: translate3d(0, 20px, 0);
  -ms-transform: translate3d(0, 20px, 0);
  -webkit-transform: translate3d(0, 20px, 0);
  -webkit-transform: -webkit-translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_caption_disappear .wtbx_image_inner.hover .wtbx_image_bg {
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -webkit-transform: -webkit-scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_skin_light .wtbx_image_caption_content {
  color: #fff;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.6) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.6) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.6) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
  /* IE6-9 */
}

.wtbx_vc_image_caption.wtbx_style_1.wtbx_skin_dark .wtbx_image_caption_content {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.95) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.95) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.95) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f2ffffff',GradientType=0 );
  /* IE6-9 */
}

.wtbx_vc_image_caption.wtbx_style_2 .wtbx_image_caption_content {
  padding: 30px 20px 20px;
  top: 50%;
  left: 15px;
  right: 15px;
  text-align: center;
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -webkit-transform: -webkit-translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: opacity 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2 .wtbx_image_inner:before {
  -webkit-transition: opacity 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: opacity 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: opacity 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: opacity 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: opacity 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_appear .wtbx_image_inner .wtbx_image_caption_content {
  opacity: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_appear .wtbx_image_inner .wtbx_image_caption_content .wtbx_image_caption_title {
  opacity: 0;
  -moz-transform: translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  -o-transform: translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  -ms-transform: translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  -webkit-transform: translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  -webkit-transform: -webkit-translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  transform: translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_appear .wtbx_image_inner .wtbx_image_caption_content .wtbx_image_caption_descr {
  opacity: 0;
  -moz-transform: translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  -o-transform: translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  -ms-transform: translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  -webkit-transform: translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  -webkit-transform: -webkit-translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  transform: translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_appear .wtbx_image_inner .wtbx_image_bg {
  -webkit-transition: transform 1.4s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: transform 1.4s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: transform 1.4s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: transform 1.4s cubic-bezier(0.2, 0, 0.3, 1);
  transition: transform 1.4s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_appear .wtbx_image_inner:before {
  opacity: 0;
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_appear .wtbx_image_inner.hover .wtbx_image_caption_content {
  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_appear .wtbx_image_inner.hover .wtbx_image_caption_content .wtbx_image_caption_title {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_appear .wtbx_image_inner.hover .wtbx_image_caption_content .wtbx_image_caption_descr {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_appear .wtbx_image_inner.hover .wtbx_image_bg {
  -moz-transform: scale3d(1.05, 1.05, 1);
  -o-transform: scale3d(1.05, 1.05, 1);
  -ms-transform: scale3d(1.05, 1.05, 1);
  -webkit-transform: scale3d(1.05, 1.05, 1);
  -webkit-transform: -webkit-scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_appear .wtbx_image_inner.hover:before {
  opacity: 1;
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_disappear .wtbx_image_inner .wtbx_image_caption_content {
  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_disappear .wtbx_image_inner .wtbx_image_caption_content .wtbx_image_caption_title {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_disappear .wtbx_image_inner .wtbx_image_caption_content .wtbx_image_caption_descr {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: -webkit-translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_disappear .wtbx_image_inner .wtbx_image_bg {
  -moz-transform: scale3d(1.05, 1.05, 1);
  -o-transform: scale3d(1.05, 1.05, 1);
  -ms-transform: scale3d(1.05, 1.05, 1);
  -webkit-transform: scale3d(1.05, 1.05, 1);
  -webkit-transform: -webkit-scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
  -webkit-transition: transform 1s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: transform 1s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: transform 1s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: transform 1s cubic-bezier(0.2, 0, 0.3, 1);
  transition: transform 1s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_disappear .wtbx_image_inner:before {
  opacity: 1;
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_disappear .wtbx_image_inner.hover .wtbx_image_caption_content {
  opacity: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_disappear .wtbx_image_inner.hover .wtbx_image_caption_content .wtbx_image_caption_title {
  opacity: 0;
  -moz-transform: translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  -o-transform: translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  -ms-transform: translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  -webkit-transform: translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  -webkit-transform: -webkit-translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  transform: translate3d(0, -5px, 0) scale3d(1.2, 1.2, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_disappear .wtbx_image_inner.hover .wtbx_image_caption_content .wtbx_image_caption_descr {
  opacity: 0;
  -moz-transform: translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  -o-transform: translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  -ms-transform: translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  -webkit-transform: translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  -webkit-transform: -webkit-translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  transform: translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_disappear .wtbx_image_inner.hover .wtbx_image_bg {
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -webkit-transform: -webkit-scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_caption_disappear .wtbx_image_inner.hover:before {
  opacity: 0;
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_skin_light .wtbx_image_caption_content {
  color: #fff;
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_skin_light .wtbx_image_inner:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.wtbx_vc_image_caption.wtbx_style_2.wtbx_skin_dark .wtbx_image_inner:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
}
