/*=====================*/
/* CUBIC BEZIER CURVES */
/*=====================*/
/*---------------------------------------------------------------*/
/* --   BOXED LAYOUT
/*---------------------------------------------------------------*/
.portfolio-boxed {
  padding: 0; }
  .portfolio-boxed .wtbx-grid-boxed {
    overflow: visible !important;
    max-width: none; }
  .portfolio-boxed.full-width #content {
    padding-left: 0;
    padding-right: 0; }
  .portfolio-boxed.full-width + .page-links .row-inner {
    max-width: none; }
  .portfolio-boxed.full-width .wtbx-grid.row-inner {
    max-width: none; }
  .portfolio-boxed article.portfolio-entry {
    margin: 0;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: -webkit-translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    .portfolio-boxed article.portfolio-entry:hover {
      z-index: 2; }
      .portfolio-boxed article.portfolio-entry:hover .portfolio-boxed-overlay {
        opacity: 1; }
    .portfolio-boxed article.portfolio-entry.content-icon .portfolio-boxed-content,
    .portfolio-boxed article.portfolio-entry.content-icon .portfolio-boxed-content:hover {
      background: none !important;
      top: 50% !important;
      left: 50% !important;
      bottom: auto !important;
      right: auto !important;
      width: auto !important;
      height: auto !important;
      padding: 0 !important;
      -moz-transform: translate3d(-50%, -50%, 0 !important);
      -o-transform: translate3d(-50%, -50%, 0 !important);
      -ms-transform: translate3d(-50%, -50%, 0 !important);
      -webkit-transform: translate3d(-50%, -50%, 0 !important);
      -webkit-transform: -webkit-translate3d(-50%, -50%, 0 !important);
      transform: translate3d(-50%, -50%, 0 !important); }
    .portfolio-boxed article.portfolio-entry .portfolio-boxed-inner {
      position: relative;
      overflow: hidden;
      box-shadow: 0 15px 55px -5px rgba(9, 31, 67, 0.1); }
      .portfolio-boxed article.portfolio-entry .portfolio-boxed-inner:hover {
        box-shadow: 0 20px 70px -10px rgba(9, 31, 67, 0.45); }
        .portfolio-boxed article.portfolio-entry .portfolio-boxed-inner:hover .post-like a {
          opacity: .6;
          box-shadow: 0 5px 25px -4px rgba(9, 31, 67, 0.1); }
          .portfolio-boxed article.portfolio-entry .portfolio-boxed-inner:hover .post-like a .like-count {
            margin: 0; }
      .portfolio-boxed article.portfolio-entry .portfolio-boxed-inner .portfolio-boxed-media .portfolio-thumb-inner {
        position: relative; }
        .portfolio-boxed article.portfolio-entry .portfolio-boxed-inner .portfolio-boxed-media .portfolio-thumb-inner .portfolio-thumbnail {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0; }

.wtbx_vc_portfolio_grid.wtbx_meta_skin_dark article.portfolio-entry .portfolio-boxed-inner {
  box-shadow: 0 15px 55px -5px rgba(0, 0, 0, 0.2); }
  .wtbx_vc_portfolio_grid.wtbx_meta_skin_dark article.portfolio-entry .portfolio-boxed-inner:hover {
    box-shadow: 0 20px 70px -10px rgba(0, 0, 0, 0.4); }
