/*=====================*/
/* CUBIC BEZIER CURVES */
/*=====================*/
/*---------------------------------------------------------------*/
/* --   OVERLAP LAYOUT
/*---------------------------------------------------------------*/
.portfolio-overlap article.portfolio-entry {
  margin: 0;
  z-index: 1;
  margin-bottom: 8em; }
  .portfolio-overlap article.portfolio-entry:last-child {
    margin-bottom: 4em; }
  .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner {
    position: relative; }
    .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-media {
      width: 66.666667%;
      float: left; }
      .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-media:hover .wtbx-rollhover-layer {
        -moz-transform: scale3d(1.05, 1.05, 1);
        -o-transform: scale3d(1.05, 1.05, 1);
        -ms-transform: scale3d(1.05, 1.05, 1);
        -webkit-transform: scale3d(1.05, 1.05, 1);
        -webkit-transform: -webkit-scale3d(1.05, 1.05, 1);
        transform: scale3d(1.05, 1.05, 1);
        -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        -moz-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        -ms-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        -o-transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
        transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1); }
      .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-media .portfolio-overlap-media-link {
        display: block;
        overflow: hidden;
        -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
        moz-transform-origin: center left;
        -o-transform-origin: center left;
        -ms-transform-origin: center left;
        -webkit-transform-origin: center left;
        transform-origin: center left; }
        .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-media .portfolio-overlap-media-link .wtbx-bg-image {
          -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
          -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
          -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
          -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
          transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
          moz-transform-origin: center left;
          -o-transform-origin: center left;
          -ms-transform-origin: center left;
          -webkit-transform-origin: center left;
          transform-origin: center left; }
    .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner:hover .portfolio-overlap-media-link {
      -moz-transform: scale3d(0.95, 0.95, 1);
      -o-transform: scale3d(0.95, 0.95, 1);
      -ms-transform: scale3d(0.95, 0.95, 1);
      -webkit-transform: scale3d(0.95, 0.95, 1);
      -webkit-transform: -webkit-scale3d(0.95, 0.95, 1);
      transform: scale3d(0.95, 0.95, 1); }
      .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner:hover .portfolio-overlap-media-link .wtbx-bg-image {
        -moz-transform: scale3d(1.052, 1.052, 1);
        -o-transform: scale3d(1.052, 1.052, 1);
        -ms-transform: scale3d(1.052, 1.052, 1);
        -webkit-transform: scale3d(1.052, 1.052, 1);
        -webkit-transform: -webkit-scale3d(1.052, 1.052, 1);
        transform: scale3d(1.052, 1.052, 1); }
    .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-meta {
      width: 30%;
      position: absolute;
      left: 60%;
      right: auto;
      top: 50%;
      -moz-transform: translate3d(0, -50%, 0);
      -o-transform: translate3d(0, -50%, 0);
      -ms-transform: translate3d(0, -50%, 0);
      -webkit-transform: translate3d(0, -50%, 0);
      -webkit-transform: -webkit-translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0); }
      .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-meta a:not(.portfolio-overlap-button) {
        display: inline-block;
        color: inherit;
        opacity: 1; }
        .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-meta a:not(.portfolio-overlap-button):hover, .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-meta a:not(.portfolio-overlap-button):hover * {
          text-decoration: underline; }
      .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-meta .portfolio-entry-meta > * {
        margin-bottom: 1em; }
        .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-meta .portfolio-entry-meta > *:last-child {
          margin-bottom: 0; }
  .portfolio-overlap article.portfolio-entry .portfolio-meta-primary {
    display: inline-block;
    font-size: 2.5em;
    line-height: 1.2;
    font-weight: 600;
    margin: 0;
    opacity: 1;
    -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1); }
  .portfolio-overlap article.portfolio-entry .portfolio-meta-secondary {
    max-width: 70%;
    margin: 0;
    line-height: 1.2;
    opacity: 1;
    text-transform: uppercase;
    font-size: .785714em;
    -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1); }
  .portfolio-overlap article.portfolio-entry .portfolio-overlap-excerpt {
    margin-top: 2em;
    font-weight: 500; }
  .portfolio-overlap article.portfolio-entry .portfolio-meta-button {
    margin-top: 2em;
    -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    -moz-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    -ms-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    -o-transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1);
    transition: all 0.5s cubic-bezier(0.2, 0, 0.3, 1); }
  .portfolio-overlap article.portfolio-entry .portfolio-overlap-button {
    position: relative;
    display: inline-block;
    font-size: .857143em;
    line-height: 3;
    padding: 0 1.2em;
    color: #fff;
    -webkit-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
    -moz-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
    -ms-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
    -o-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
    transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1); }
    .portfolio-overlap article.portfolio-entry .portfolio-overlap-button:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 3px;
      box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.15);
      z-index: -1;
      -webkit-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
      -moz-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
      -ms-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
      -o-transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1);
      transition: all 0.2s cubic-bezier(0.2, 0, 0.3, 1); }
    .portfolio-overlap article.portfolio-entry .portfolio-overlap-button:hover:before {
      -moz-transform: scale3d(1.05, 1.15, 1);
      -o-transform: scale3d(1.05, 1.15, 1);
      -ms-transform: scale3d(1.05, 1.15, 1);
      -webkit-transform: scale3d(1.05, 1.15, 1);
      -webkit-transform: -webkit-scale3d(1.05, 1.15, 1);
      transform: scale3d(1.05, 1.15, 1);
      box-shadow: 0 15px 60px -10px rgba(9, 31, 67, 0.45); }
  .portfolio-overlap article.portfolio-entry:nth-child(2n) .portfolio-overlap-inner {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .portfolio-overlap article.portfolio-entry:nth-child(2n) .portfolio-overlap-inner .portfolio-overlap-media {
      float: right; }
    .portfolio-overlap article.portfolio-entry:nth-child(2n) .portfolio-overlap-inner .portfolio-overlap-meta {
      left: auto;
      right: 55%; }
    .portfolio-overlap article.portfolio-entry:nth-child(2n) .portfolio-overlap-inner .portfolio-overlap-media-link {
      moz-transform-origin: center right;
      -o-transform-origin: center right;
      -ms-transform-origin: center right;
      -webkit-transform-origin: center right;
      transform-origin: center right; }
      .portfolio-overlap article.portfolio-entry:nth-child(2n) .portfolio-overlap-inner .portfolio-overlap-media-link .wtbx-bg-image {
        moz-transform-origin: center right;
        -o-transform-origin: center right;
        -ms-transform-origin: center right;
        -webkit-transform-origin: center right;
        transform-origin: center right; }
  @media only screen and (max-width: 991px) {
    .portfolio-overlap article.portfolio-entry {
      margin-bottom: 6em; }
      .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-media {
        width: 100%;
        float: none !important; }
        .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-media .portfolio-overlap-media-link,
        .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-media .wtbx-bg-image {
          -moz-transform: scale3d(1, 1, 1) !important;
          -o-transform: scale3d(1, 1, 1) !important;
          -ms-transform: scale3d(1, 1, 1) !important;
          -webkit-transform: scale3d(1, 1, 1) !important;
          -webkit-transform: -webkit-scale3d(1, 1, 1) !important;
          transform: scale3d(1, 1, 1) !important; }
      .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-meta {
        position: relative;
        top: auto;
        left: auto !important;
        right: auto !important;
        width: 100%;
        margin-top: 2em;
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transform: -webkit-translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
        .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-meta .portfolio-meta-primary {
          font-size: 1.857143em !important; }
        .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-meta .portfolio-meta-secondary {
          font-size: .785714em !important; }
        .portfolio-overlap article.portfolio-entry .portfolio-overlap-inner .portfolio-overlap-meta .portfolio-overlap-button:before {
          -moz-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -webkit-transform: translate3d(0, 0, 0);
          -webkit-transform: -webkit-translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); } }
.wtbx_overlap.wtbx_meta_skin_dark .portfolio-entry-meta *,
.wtbx_overlap.wtbx_meta_skin_dark .portfolio-overlap-excerpt {
  color: #fff; }

.wtbx_overlap.wtbx_meta_skin_dark .portfolio-overlap-button:before {
  background-color: #fff; }
