
// Import sass variables
@import "../../scss/partials/variables";

// Import mixins
@import "../../scss/partials/mixins";

/*---------------------------------------------------------------*/
/* --   COLUMN LAYOUT
/*---------------------------------------------------------------*/

.blog-grid-column, .wtbx-grid-column {
	margin: 0 auto;
	float: none;

	.wtbx-grid-wrapper {
		padding: 30px 0;

		.wtbx-pagination {
			padding-top: 60px;
		}
	}

	.entry-summary, .entry-content {
		margin-top: 2em;
		text-align: center;

		.more-link {
			background-color: transparent;
			//color: #fff;
			//font-size: .928571em;
		}
	}

	article.post-entry {
		margin: 45px 0;
		position: relative;
		text-align: center;
		padding: 45px 0 90px;
		border-bottom-style: dashed;
		border-bottom-width: 1px;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
			border: none;
			padding-bottom: 45px;
		}

		.entry-title {
			font-size: 2em;

			a {
				@include transition(color .2s $cb6);
			}
		}

		.post-media {
			position: relative;
			z-index: 1;
			margin: 0 0 2em;

			.post-media-inner {
				position: relative;
				z-index: 1;
				border-radius: $br;
				overflow: hidden;
			}

			&.post-audio-selfhosted,
			&.post-audio-embed {
				.post-media-inner {
					box-shadow: none;
					overflow: visible;
				}

				&.post-audio-soundcloud {
					.audio-embed {
						width: 100%;
					}
				}
			}

			.wtbx-slider-gallery,
			.post-quote-wrapper,
			.audio-embed,
			.audio-poster,
			.wtbx-media-selfhosted {
				border-radius: $br !important;
			}

			a {
				z-index: 2;
			}

			.post-media-overlay {
				display: block;
				z-index: 1;
				cursor: pointer;
				@include transition(background-color .3s $cb6, box-shadow .3s $cb6);

				&:hover {
					.post-media-button {
						opacity: 1;
					}
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					opacity: 0;
					@include translate3d(0,0,0);
					@include transition(all .4s $cb6);
				}

				.post-media-button {
					width: 50px;
					height: 50px;
					line-height: 50px;
					max-width: 80%;
					max-height: 80%;
					border-radius: 50%;
					background-color: #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform( translate3d(-50%,-50%,0) scale3d(1,1,1) );
					font-size: 14px;
					text-align: center;
					padding-left: .2em;
					opacity: .4;
					z-index: 10;
					@include transition(all .4s $cb6);
				}

				&:hover {
					.post-media-button {
						@include transform( translate3d(-50%,-50%,0) scale3d(1.1,1.1,1) );
					}
				}

				.proceed-arrow {
					background-color: #fff;
					position: absolute;
					width: 20px;
					height: 2px;
					display: block;
					left: 50%;
					top: 50%;
					opacity: 0;
					z-index: 1;
					@include transform(translate3d(-50%,-50%, 0) scale(.8) );
					@include transition(transform .5s $cb6, width .3s $cb6, opacity .5s $cb6);

					&:after {
						content: '';
						position: absolute;
						display: block;
						width: 8px;
						height: 8px;
						top: 50%;
						right: 0;
						border-top: 2px solid #fff;
						border-right: 2px solid #fff;
						@include transform-origin(center);
						@include transform( translate3d(0,-50%,0) rotate(45deg) );
						@include transition(border-color .3s $cb6);
					}

					&:before {
						position: absolute;
						display: block;
						width: 70px;
						height: 70px;
						top: 50%;
						left: 50%;
						z-index: -1;
						border-radius: 70px;
						background-color: rgba(0,0,0,.2);
						@include translate3d(-50%,-50%,0);
					}
				}

				&:hover .proceed-arrow {
					@include animation(proceed 1.5s $cb6);
					@include transform(translate3d(-50%,-50%, 0) scale(.8) );
				}
			}

			&:hover {
				.post-media-overlay {
					&:before {
						opacity: 1;
					}

					.proceed-arrow {
						opacity: .7;
					}
				}
			}
		}

		.meta-category {
			margin-bottom: 1em;

			a {
				font-size: .714286em;
				font-weight: 600;
				text-transform: uppercase;
			}
		}

		.entry-meta {
			a {
				font-weight: 600;
			}
		}
	}
}