
// Import sass variables
@import "../../scss/partials/variables";

// Import mixins
@import "../../scss/partials/mixins";


/*
* Testimonial slider
*/

.wtbx_vc_testimonial_slider {
	position: relative;

	.wtbx_dots {
		bottom: -45px;
	}

	.flickity-viewport {
		@include transition(height .7s $cb6);
	}

	.wtbx_testimonial_slider_wrapper {
		position: relative;
		padding-top: 30px;
		padding-bottom: 30px;
		visibility: hidden;
		opacity: 0;
		@include transition(all .5s $ease 0s);

		&.wtbx_slider_init {
			visibility: visible;
			opacity: 1;
		}

		.wtbx_testimonial_slider_inner {
			position: relative;

			.wtbx_testimonial_credentials {
				position: relative;

				.wtbx_testimonial_photo {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					overflow: hidden;
					@include translate3d(0,0,0);

					img {
						width: 100%;
						height: auto;
						position: absolute;
						top: 50%;
						left: 50%;
						@include translate3d(-50%,-50%,0);
					}

				}

				.wtbx_testimonial_details {

					.wtbx_testimonial_author_name {
						display: block;
						font-weight: 600;
					}

					.wtbx_testimonial_author_occupation {
						display: inline-block;
						font-weight: 600;

						+ .wtbx_testimonial_author_company {

							&:before {
								content: '|';
								margin: 0 .4em;
							}
						}
					}

					.wtbx_testimonial_author_company {
						display: inline-block;
						font-weight: 600;
					}
				}

				.wtbx_testimonial_logo {
					display: inline-block;
				}
			}
		}
	}

	&.wtbx_pagination_enabled .wtbx_testimonial_slider_wrapper {
		margin-bottom: 45px;
	}

	&.wtbx_style_1 {

		.wtbx_vc_testimonial_slide {
			text-align: center;
			padding-left: 75px;
			padding-right: 75px;

			.wtbx_testimonial_credentials {
				margin-top: 2em;

				.wtbx_testimonial_photo {
					display: inline-block;
					margin: 0 auto;
					border: 4px solid #fff;
					width: 48px;
					height: 48px;
					box-shadow: $bs3-dark;

					+ .wtbx_testimonial_details {
						padding-top: .4em;
					}
				}

				.wtbx_testimonial_details {
					line-height: 1.5;

					.wtbx_testimonial_author_name {
						font-size: 1.142857em;
					}

					.wtbx_testimonial_author_occupation,
					.wtbx_testimonial_author_company {
						font-size: 1em;
						margin: 0;
					}
				}

				.wtbx_testimonial_logo {
					height: 40px;
					margin: 0 auto 20px auto;
					display: inline-block;

					img {
						max-width: none;
						height: 60px;
						width: auto;
					}
				}
			}

			.wtbx_testimonial_quote {
				font-size: 1.142857em;
				margin-bottom: 15px;
			}

			.wtbx_testimonial_content {
				font-size: 1.428571em;
				font-weight: 500;
				line-height: 1.9;
			}
		}

		&.wtbx_skin_dark {

			.wtbx_testimonial_author_occupation,
			.wtbx_testimonial_author_company {
				color: rgba(255,255,255,.4);
			}

			.wtbx_testimonial_author_name {
				color: #fff;
			}

			.wtbx_testimonial_content {
				color: #fff;
			}
		}
	}

	&.wtbx_style_2 {

		.wtbx_arrow_prev {
			left: calc(31% - 40px) !important;
		}

		.wtbx_arrow_next {
			right: calc(31% - 40px) !important;
		}

		.wtbx_vc_testimonial_slide {
			padding: 0 45px;
			@include scale3d(.8,.8,1);
			@include transition(transform .8s $cb6, opacity .8s $cb6);
			display: table;
			height: 100%;
			opacity: 1;

			.wtbx_vc_testimonial_slide_container {
				display: table-cell;
				vertical-align: middle;
			}

			.wtbx_vc_testimonial_slide_inner {
				opacity: .6;
				@include transition(all .3s $cb6);
			}

			&:not(.wtbx_slide_current):not(.wtbx_slide_prev):not(.wtbx_slide_next) {
				opacity: 0;
				@include transition(transform .8s $cb6, opacity .2s $cb6);
			}

			@media only screen and (max-width: 767px) {
				opacity: 1 !important;
			}
		}

		.is-selected,
		.is-selected .wtbx_vc_testimonial_slide {
			@include scale3d(1,1,1);

			.wtbx_vc_testimonial_slide_inner {
				//cursor: auto;
				opacity: 1;
			}
		}

		.flickity-viewport {
			overflow: visible !important;
		}

		.wtbx_testimonial_credentials {
			text-align: center;
			margin-top: 50px;
			position: relative;

			&:before, &:after {
				content: '';
				position: absolute;
				left: 50%;
				border-radius: 50%;
				@include translate3d(-50%,0,0);
				display: block;
			}

			&:before {
				width: 6px;
				height: 6px;
				top: -38px;
			}

			&:after {
				width: 13px;
				height: 13px;
				top: -23px;
			}

			.wtbx_testimonial_photo {
				width: 50px;
				height: 50px;
				position: relative;
				margin: 0 auto;
				border-style: solid;
				border-width: 5px;

				+ .wtbx_testimonial_details {
					padding-top: 15px;
				}
			}

			.wtbx_testimonial_details {
				line-height: 1.5;
				padding-top: .4em;

				.wtbx_testimonial_author_name {
					font-size: 1.142857em;
				}

				.wtbx_testimonial_author_occupation,
				.wtbx_testimonial_author_company {
					font-size: .928571em;
				}
			}

			.wtbx_testimonial_logo {
				height: 40px;
				margin-bottom: 20px;

				img {
					max-width: none;
					height: 40px;
					width: auto;
				}
			}
		}

		.wtbx_testimonial_content {
			padding: 30px;
			border-radius: 20px;
			text-align: center;
			@include transition(all .8s $cb6);
		}

		&.wtbx_scheme_colorful {
			.wtbx_vc_testimonial_slide.is-selected .wtbx_testimonial_content {
				color: #fff;
			}
		}

		&.wtbx_skin_dark {

			.wtbx_testimonial_credentials {

				&:before, &:after {
					background-color: rgba(255,255,255,.1);
				}
			}

			.wtbx_testimonial_photo {
				border-color: rgba(255,255,255,.1);
			}

			.wtbx_testimonial_author_occupation,
			.wtbx_testimonial_author_company {
				color: rgba(255,255,255,.4);
			}

			.wtbx_testimonial_author_name {
				color: #fff;
			}

			.wtbx_testimonial_content {
				color: #fff;
				background-color: rgba(255,255,255,.1);

				&:before {
					border-color: rgba(255,255,255,.1);
					border-right-color: transparent;
					border-bottom-color: transparent;
					border-left-color: transparent;
				}
			}
		}
	}

	&.wtbx_style_3 {

		.wtbx_testimonial_slider_wrapper {
			padding-left: 50px;
			padding-right: 50px;

			.wtbx_testimonial_slider_inner {
				width: 70%;
				margin: 0 auto;
			}

			.flickity-viewport {
				overflow: visible !important;

				.flickity-slider {
					@include transform( translate3d(0,0,0) !important );
				}
			}

			.wtbx_vc_testimonial_slide {
				z-index: -3;
				left: 0 !important;
				@include transform( translate3d(0,0,0) scale3d(.4,.4,1) );
				@include transition(all .3s $cb6 !important);
				height: 100%;
				display: table;

				&.wtbx_slide_prev {
					opacity: 1 !important;
					z-index: -3;
					@include transform( translate3d(-30%,0,0) scale3d(.8,.8,1) );
				}

				&.wtbx_slide_next {
					opacity: 1 !important;
					z-index: -3;
					@include transform( translate3d(30%,0,0) scale3d(.8,.8,1) );
				}

				.wtbx_vc_testimonial_slide_container {
					padding: 0;
					@include scale3d(.8, .8, 1);
					@include transition(all .3s $cb6);
					display: table-cell;
					vertical-align: middle;

					.wtbx_vc_testimonial_slide_inner {
						background-color: #fff;
						padding: 45px;
						border-radius: $br2;
						box-shadow: $bs4-light;
						//						cursor: pointer;
						@include transition(all .3s $cb6);

						//						&:hover {
						//							@include scale3d(1.03, 1.03, 1);
						//						}
					}
				}

				&.is-selected {
					z-index: 1;
					@include transform( translate3d(0,0,0) scale3d(1,1,1) );

					.wtbx_vc_testimonial_slide_container {
						opacity: 1;
						@include scale3d(1,1,1);

						.wtbx_vc_testimonial_slide_inner,
						.wtbx_vc_testimonial_slide_inner:hover {
							opacity: 1;
							@include scale3d(1,1,1);
							box-shadow: $bs4h-light;
							//cursor: default;
						}
					}
				}
			}
		}

		.wtbx_vc_testimonial_slide {
			text-align: center;
		}

		.wtbx_vc_testimonial_slide_container {
			.wtbx_vc_testimonial_slide_inner {
				.wtbx_testimonial_credentials {
					text-align: center;
					position: static;

					.wtbx_testimonial_photo {
						width: 60px;
						height: 60px;
						margin: 0 auto;
						border-style: solid;
						border-width: 5px;
						background-color: #fff;
						border-color: #fff;

						position: absolute;
						top: -30px;
						left: 0;
						right: 0;
						box-shadow: $bs3-dark;

						+ .wtbx_testimonial_details {
							padding-top: 1em;
						}
					}

					.wtbx_testimonial_details {
						line-height: 1.5;
						padding-top: .4em;

						.wtbx_testimonial_author_name {
							font-size: 1.142857em;
						}

						.wtbx_testimonial_author_occupation,
						.wtbx_testimonial_author_company {
							font-size: 1em;
						}
					}

					.wtbx_testimonial_logo {
						height: 40px;

						img {
							max-width: none;
							height: 40px;
							width: auto;
						}
					}
				}
			}
		}

		&.wtbx_align_middle {
			.wtbx_vc_testimonial_slide_container {
				display: table;
				width: 100%;

				.wtbx_vc_testimonial_slide_inner {
					display: table-cell;
					vertical-align: middle;
					width: 100%;
				}
			}
		}
	}

	&.wtbx_hide_nav {
		.wtbx_slider_pagination,
		.wtbx_dots,
		.wtbx_arrow_prev, .wtbx_arrow_next {
			@include transition(all .3s $cb6);
		}

		.wtbx_testimonial_slider_wrapper:not(:hover) {
			.wtbx_slider_pagination,
			.wtbx_dots {
				opacity: 0;
				@include translate3d(0,-5px,0);
			}

			.wtbx_arrow_prev {
				opacity: 0;
				@include translate3d(15px,-50%,0);
			}

			.wtbx_arrow_next {
				opacity: 0;
				@include translate3d(-15px,-50%,0);
			}
		}
	}

	@media only screen and (max-width: 991px) {
		&.wtbx_style_2 {
			.wtbx_vc_testimonial_slide {
				padding-left: 0;
				padding-right: 0;
				width: 100% !important;
				height: auto !important;
				display: block !important;
			}

			.wtbx_arrows {
				display: none;
			}

			.wtbx_dots {
				opacity: 1 !important;
				@include transform( translate3d(0,0,0) !important);
			}
		}
	}

	@media only screen and (max-width: 767px) {
		&.wtbx_style_1 {
			.wtbx_vc_testimonial_slide {
				padding-left: 0;
				padding-right: 0;
				height: auto !important;
				display: block !important;
			}
		}

		&.wtbx_style_3 {
			.wtbx_testimonial_slider_wrapper {
				padding-left: 0;
				padding-right: 0;
				height: auto !important;
				display: block !important;

				.wtbx_testimonial_slider_inner {
					width: 100%;
				}
			}
		}

		.wtbx_arrows {
			display: none;
		}

		.wtbx_dots {
			opacity: 1 !important;
			@include transform( translate3d(0,0,0) !important);
		}
	}

	[data-slides-desktop="scale"] {
		.wtbx_vc_testimonial_slide {
			width: 38%;
		}
	}

	[data-slides-desktop="centered"] {
		.wtbx_vc_testimonial_slide {
			width: 65%;
		}
	}

	[data-slides-desktop="1"] {
		.wtbx_vc_testimonial_slide {
			width: 100%;
		}
	}
}