
// Import sass variables
@import "../../scss/partials/variables";

// Import mixins
@import "../../scss/partials/mixins";

/*-----------------------------------------------------------------
13.2 COMMON PORTFOLIO GRID STYLES
-------------------------------------------------------------------*/

.portfolio-entry {
	.wtbx-rollhover-layer {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.post-like {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 10;

		a {
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			border-radius: 50%;
			border-width: 2px;
			border-style: solid;
			border-color: transparent !important;
			background-color: transparent;
			text-shadow: none;
			opacity: 0;
			@include transition(all .3s $cb6);

			&:hover {
				opacity: 1;
				border-color: rgba(255,255,255,.1) !important;
			}

			i {
				display: block;
				font-size: 16px;
				line-height: 26px;
				@include transition(all .3s $cb6);
				color: #fff;
			}

			span {
				height: 28px;
				line-height: 26px;
				font-size: 10px;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 0;
				color: #fff;
				@include transition(opacity .3s $cb6);
			}

			&:hover {

				i {
					@include scale(.5);
					opacity: 0;
				}

				span {
					opacity: 1;
				}
			}

			&.loading {
				pointer-events: none;

				i {
					opacity: 1;
					@include animation(pulse .7s infinite);
				}

				span {
					opacity: 0;
				}

				i {
					@include scale3d(1.1,1.1,1);
				}
			}
		}
	}
}

// overlay content
.portfolio-entry {
	.portfolio-entry-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&.hover {
		.portfolio-overlay-idle {
			opacity: 0;
			visibility: visible;
			@include transition(opacity .3s ease-in, visibility 0s .3s);

			.portfolio-overlay-meta_centered,
			.portfolio-overlay-meta_aligned-inner {
				@include translate3d(0,10px,0);
			}
		}

		.portfolio-overlay-hover {
			opacity: 1;
			visibility: visible;
			@include transition(opacity .3s ease-out, visibility 0s 0s);

			.portfolio-overlay-meta_centered,
			.portfolio-overlay-meta_aligned-inner {
				@include translate3d(0,0,0);
			}

			.portfolio-overlay-meta_middle-inner {
				@include scale3d(1,1,1);
			}

			.portfolio-overlay-meta_middle_inside {
				@include transform(translate3d(-50%,-50%,0) scale3d(1,1,1));

				.portfolio-overlay-meta_middle_inside-inner {
					@include scale3d(1,1,1);
				}
			}

			.portfolio-overlay-meta_boxed-inner {
				opacity: 1;
				@include translate3d(0,0,0);
				@include transition(all .3s $cb6 .2s);
			}

			.portfolio-overlay-border {
				&:before {
					@include scale3d(1,1,1);
					box-shadow: inset 0 0 0 6px rgba(255,255,255,1);
				}
			}
		}
	}

	.portfolio-overlay-idle {
		opacity: 1;
		@include translate3d(0,0,0);
		@include backface-visibility(hidden);
		@include transition(opacity .3s ease-out);
	}

	.portfolio-overlay-hover {
		opacity: 0;
		visibility: hidden;
		@include translate3d(0,0,0);
		@include backface-visibility(hidden);
		@include transition(opacity .3s ease-in, visibility 0s .3s);

		.portfolio-overlay-meta_centered,
		.portfolio-overlay-meta_aligned-inner {
			@include translate3d(0,10px,0);
		}
	}

	.portfolio-overlay-empty,
	.portfolio-overlay-color,
	.portfolio-overlay-icon {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		.portfolio-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			//font-size: 14px;
			width: 60px;
			height: 60px;
			line-height: 60px;
			border-radius: 50%;
			background-color: rgba(0,0,0,.2);
			color: #fff;
			text-align: center;
			@include transform( translate3d(-50%,-50%,0) scale3d(.7,.7,1) );
			@include transition(all .5s $cb6);
		}

		&:hover,
		&.hover {
			.portfolio-icon {
				@include transform( translate3d(-50%,-50%,0) scale3d(1,1,1) );
			}
		}

		.portfolio-icon-plus {
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				@include translate3d(-50%,-50%,0);
				background-color: #fff;
				border-radius: 2px;
			}

			&:before {
				width: 2px;
				height: 12px;
			}

			&:after {
				width: 12px;
				height: 2px;
			}
		}
	}

	.portfolio-overlay-empty,
	.portfolio-overlay-color,
	.portfolio-overlay-icon,
	.portfolio-overlay-meta_middle,
	.portfolio-overlay-meta_middle_inside,
	.portfolio-overlay-meta_boxed,
	.portfolio-overlay-meta_border,
	.portfolio-overlay-meta_centered,
	.portfolio-overlay-meta_aligned {
		.portfolio-overlay-trigger {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			cursor: pointer;
		}
	}

	.portfolio-overlay-empty {
		i {
			display: none;
		}
	}

	.portfolio-overlay-icon {
		.portfolio-overlay-link a * {
			display: none;
		}

		.fa-play {
			padding-left: .2em;
		}
	}

	.portfolio-overlay-color {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		i {
			display: none;
		}
	}

	.meta-link {
		@include transition(all .3s $cb6);

		&:hover {
			opacity: .7;
		}
	}

	.portfolio-overlay-meta_centered,
	.portfolio-overlay-meta_middle,
	.portfolio-overlay-meta_middle_inside,
	.portfolio-overlay-meta_boxed,
	.portfolio-overlay-meta_border {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 11;
		@include transition(all .3s $cb6);
		@include backface-visibility(hidden);
		display: table;
		width: 100%;
		height: 100%;
		min-height: 100%;

		i {
			display: none;
		}

		.portfolio-meta-primary {
			font-size: 1.214286em;
			font-weight: 600;
			line-height: 1.2;
			//text-transform: none;
			//letter-spacing: normal;
			color: #fff;
			margin: 0;
			text-align: center;

			* {
				color: #fff;
			}

			+ .portfolio-meta-secondary {
				margin-top: .5em;
			}
		}

		.portfolio-meta-secondary {
			font-size: .928571em;
			font-weight: 400;
			line-height: 1.2;
			//text-transform: none;
			//letter-spacing: normal;
			color: #fff;
			margin: 0;
			text-align: center;

			* {
				color: #fff;
			}
		}
	}

	.portfolio-overlay-meta_centered {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: auto;
		background: -moz-linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(30%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.4))); /* safari4+,chrome */
		background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%); /* ie10+ */
		background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%); /* w3c */

		.wtbx-rollhover-layer {
			position: relative;
			left: auto;
			right: auto;
			top: auto;
			bottom: auto;
		}

		.portfolio-overlay-meta_centered-inner {
			display: table-cell;
			vertical-align: bottom;
			padding: 0 1em 10%;
		}
	}

	.portfolio-overlay-meta_middle {
		top: 50%;
		bottom: auto;
		height: 100%;
		min-height: 100%;
		width: 100%;
		display: table;
		padding: 0;
		@include translate3d(0,-50%,0);

		.portfolio-overlay-meta_middle-inner {
			position: relative;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			display: table-cell;
			vertical-align: middle;
		}
	}

	.portfolio-overlay-meta_middle_inside {
		top: 50%;
		left: 50%;
		height: calc(100% - 2em);
		min-height: calc(100% - 2em);
		width: calc(100% - 2em);
		display: table;
		padding: 0;
		@include transform( translate3d(-50%,-50%,0) scale3d(1.1,1.1,1));

		.portfolio-overlay-meta_middle_inside-inner {
			position: relative;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			display: table-cell;
			vertical-align: middle;
			@include scale3d(.8,.8,1);
			@include transition(all .3s $cb6);
		}
	}

	.portfolio-overlay-meta_boxed {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 100%;
		width: 100%;
		padding: 0;
		@include translate3d(-50%,-50%,0);

		.portfolio-overlay-meta_boxed-inner {
			position: absolute;
			bottom: 2em;
			left: 2em;
			max-width: calc(100% - 4em);
			padding: 1em 2em;
			background-color: #fff;
			border-radius: $br;
			box-shadow: $bs3-light;
			@include translate3d(-1em,0,0);
			opacity: 0;
			@include transform-origin(left bottom);
			@include transition(all .5s $cb6 0s);

			.portfolio-meta-primary,
			.portfolio-meta-secondary {
				text-align: left;
			}

			.portfolio-meta-primary {
				font-size: 1em;

				+ .portfolio-meta-secondary {
					margin-top: .2em;
				}
			}

			.portfolio-meta-secondary {
				font-size: .785714em;
			}
		}
	}

	.portfolio-overlay-meta_border {
		top: 50%;
		left: 50%;
		height: 100%;
		min-height: 100%;
		width: 100%;
		display: table;
		padding: 0;
		@include translate3d(-50%,-50%,0);

		.portfolio-overlay-meta_border-inner {
			position: relative;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			display: table-cell;
			vertical-align: middle;
			@include scale3d(.9,.9,1);
			@include transition(all .3s $cb6);
		}

		.portfolio-overlay-border {
			position: absolute;
			top: 2em;
			bottom: 2em;
			left: 2em;
			right: 2em;
			z-index: -1;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				@include scale3d(1.05,1.05,1);
				@include transition(all .4s $cb6);
			}

		}
	}

	.portfolio-overlay-meta_aligned {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 11;

		.portfolio-overlay-meta_aligned-inner {
			position: relative;
			left: auto;
			right: auto;
			top: auto;
			bottom: auto;
			//z-index: 11;
			width: 100%;
			padding: 4em 2em 2em;
			@include transition(all .3s $cb6);
		}

		.wtbx-rollhover-layer {
			position: relative;
			left: auto;
			right: auto;
			top: auto;
			bottom: auto;
		}

		i {
			display: none;
		}

		.portfolio-overlay-link {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 20;
		}

		.portfolio-meta-block {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%); /* ff3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.4))); /* safari4+,chrome */
			background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%); /* safari5.1+,chrome10+ */
			background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%); /* opera 11.10+ */
			background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%); /* ie10+ */
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%); /* w3c */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0); /* ie6-9 */
			@include transition(all .3s $cb6);
			@include backface-visibility(hidden);
		}

		.portfolio-meta-primary {
			font-size: 1.214286em;
			font-weight: 600;
			line-height: 1.2;
			text-transform: none;
			//letter-spacing: normal;
			color: #fff;
			margin: 0;

			* {
				color: #fff;
			}
		}

		.portfolio-meta-secondary {
			font-size: .928571em;
			font-weight: 400;
			line-height: 1.5;
			text-transform: none;
			//letter-spacing: normal;
			color: #fff;
			margin: 0;
			margin-top: .5em;

			* {
				color: #fff;
			}
		}

		.portfolio-meta-categories {
			text-align: right;

			a {
				font-size: .785714em;
				color: #fff;
				display: inline-block;
				float: right;
				clear: both;
				padding: 0 .75em;
				line-height: 2em;
				border-radius: 4px;
				margin: 5px 0 0;
				text-transform: uppercase;
				font-weight: 600;
				white-space: nowrap;
				@include transition(all .3s $cb6);
			}
		}
	}

	.portfolio-overlay-buttons {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		&:hover {
			.portfolio-overlay-buttons-inner {
				@include transform( translate3d(-50%,-50%,0) scale3d(1,1,1) );
			}
		}

		.portfolio-overlay-buttons-inner {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform( translate3d(-50%,-50%,0) scale3d(.9,.9,1) );
			max-width: 100%;
			max-height: 100%;
			font-size: 0;
			white-space: nowrap;
			@include transition(all .3s $cb6);

			a {
				position: relative;
				display: inline-block;
				width: 50px;
				height: 50px;
				line-height: 50px;
				border-radius: 50%;
				font-size: 15px;
				color: #fff;
				text-align: center;
				margin-right: 5px;
				@include transition(all .3s $cb6);
				@include transform-origin(center center);
				cursor: pointer;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					border-radius: 50%;
					z-index: -1;
					box-shadow: inset 0 0 0 1px rgba(255,255,255,.2);
					@include scale3d(.9,.9,1);
					@include transition(all .3s $cb6, box-shadow .2s $cb6);
				}

				&:hover {
					&:before {
						box-shadow: inset 0 0 0 40px rgba(255,255,255,1);
						@include scale3d(1,1,1);
					}
				}

				&:first-child {

				}

				&:last-child {
					margin-right: 0;
				}

				i {
					line-height: 50px;
				}
			}
		}
	}
}

.portfolio-entry.overlay-appear .wtbx-entry-inner {
	.post-like a {
		opacity: 0;
		@include scale(.7);
	}

	.portfolio-entry-bg {
		opacity: 0;
		@include transition(opacity .5s $ease, box-shadow .7s $ease);
	}

	.portfolio-entry-content {
		i {
			opacity: 0;
			@include scale(1.5);
			@include transition(transform .4s $cb6, opacity .4s $cb6);
		}

		.portfolio-meta-primary {
			opacity: 0;
			@include transition(transform .7s $cb6, opacity .6s $cb6);
		}

		.portfolio-meta-secondary {
			opacity: 0;
			@include transition(transform .4s $cb6, opacity .4s $cb6);
		}
	}

	&:hover {
		.post-like a {
			opacity: 1;
			@include scale(1);
		}

		.portfolio-entry-bg {
			opacity: 1;
			@include transition(opacity .3s $ease 0s, box-shadow .2s $ease 0s);
		}

		.portfolio-entry-content {
			i {
				opacity: 1;
				@include scale(1);
				@include transition(transform .4s $cb6, opacity .4s $cb6);
			}

			.portfolio-meta-primary {
				opacity: 1;
				@include transform( translate3d(0,0,0) scale(1) );
				@include transition(transform .5s $cb6, opacity .5s $cb6);
			}

			.portfolio-meta-secondary {
				opacity: 1;
				@include transform( translate3d(0,0,0) scale(1) );
				@include transition(transform .8s $cb6, opacity .8s $cb6);
			}
		}
	}
}

.portfolio-entry.overlay-disappear {

	.post-like a {
		opacity: .4;
	}

	.portfolio-entry-bg {
		opacity: 1;
		@include transition(opacity .3s $ease 0s, box-shadow .2s $ease 0s);
	}

	.portfolio-entry-content {
		i {
			opacity: 1;
			@include scale(1);
			@include transition(transform .4s $cb6, opacity .4s $cb6);
		}

		.portfolio-meta-primary {
			opacity: 1;
			@include transform( translate3d(0,0,0) scale(1) );
			@include transition(transform .5s $cb6, opacity .5s $cb6);
		}

		.portfolio-meta-secondary {
			opacity: 1;
			@include transform( translate3d(0,0,0) scale(1) );
			@include transition(transform .8s $cb6, opacity .8s $cb6);
		}
	}

	&:hover {
		.post-like a {
			opacity: 1;
		}

		.portfolio-entry-bg {
			opacity: 0;
			@include transition(opacity .5s $ease, box-shadow .7s $ease);
		}

		.portfolio-entry-content {
			i {
				opacity: 0;
				@include scale(1.5);
				@include transition(transform .4s $cb6, opacity .4s $cb6);
			}

			.portfolio-meta-primary {
				opacity: 0;
				@include transition(transform .7s $cb6, opacity .6s $cb6);
			}

			.portfolio-meta-secondary {
				opacity: 0;
				@include transition(transform .4s $cb6, opacity .4s $cb6);
			}
		}
	}
}

// force always visible overlay on mobile
body.device-mobile .portfolio-entry.force-overlay-mobile .portfolio-entry-overlay {
	.portfolio-entry-bg {
		opacity: 1 !important;
		box-shadow: inset 0 0 50px 20px #000 !important;
	}

	i, .portfolio-meta-primary, .portfolio-meta-secondary {
		opacity: 1;
		@include transform( translate3d(0,0,0) scale(1) !important);
	}
}