
// Import sass variables
@import "../../scss/partials/variables";

// Import mixins
@import "../../scss/partials/mixins";


/*
* Pricing Box
*/

.wtbx_vc_pricing_box {

	.wtbx_pricing_box_wrapper {
		display: block;
		background-color: #fff;
		text-align: center;
		padding: 30px;

		.wtbx_vc_pricing_box_feature_inner {
			line-height: 1.5;
			padding: .5em 0;
		}

	}

	.wtbx_pricing_box_button {
		margin-top: 30px;
		display: inline-block;
		@include transition(all .3s $cb6);

		&.style_btn {
			line-height: 3.5em;
			font-weight: 700;
			text-transform: uppercase;
			font-size: .857143em;
			white-space: nowrap;
			padding: 0 2.5em;
			color: #fff;
		}

		&.style_ghost {
			line-height: 3.2em;
			font-weight: 700;
			white-space: nowrap;
			text-transform: uppercase;
			font-size: .857143em;
			padding: 0 2.5em;
			border-width: 1px;
			border-style: solid;

			&:hover {
				color: #fff;
				border-color: transparent;
			}
		}

		&.style_link {
			line-height: 2em;
			font-weight: 600;
			white-space: nowrap;
			padding: 0 1em;
			font-size: 1em;

			i {
				position: relative;
				top: -1px;
				line-height: inherit;
				vertical-align: middle;
				opacity: 0;
				margin-left: 6px;
				font-size: .857143em;
				@include translate3d(-6px,0,0);
				@include transition(transform .3s $cb6);
			}

			&:hover {
				@include translate3d(-3px,0,0);

				i {
					opacity: 1;
					@include translate3d(0,0,0);
				}
			}
		}
	}

	&.wtbx_style_1 {
		.wtbx_pricing_box_wrapper {
			position: relative;
			border-radius: $br2;
			background-color: #fff;
			@include transition(all .3s $cb6);
			box-shadow: $bs3-light;

			&:hover {
				box-shadow: $bs3h-light;
			}

			.wtbx_pricing_box_header {
				padding-bottom: 30px;

				.wtbx_pricing_box_title {
					font-size: 1.428571em;
					line-height: 1.5;
				}

				.wtbx_pricing_box_subtitle {
					font-size: 1em;
					line-height: 1.5;
					min-height: 1.5em;
				}
			}
		}

		.wtbx_pricing_box_price_wrapper {
			padding-top: 30px;
			white-space: nowrap;

			.wtbx_pricing_box_price {
				font-size: 46px;
				line-height: 46px;
				font-weight: 200;
				display: inline-block;
			}

			.wtbx_pricing_box_currency {
				font-size: 46px;
				line-height: 46px;
				font-weight: 200;
				display: inline-block;
			}

			.wtbx_pricing_box_period {
				font-size: 1em;
				display: block;
			}
		}

		.wtbx_pricing_box_description {
			font-size: 1em;
			padding: 30px 30px 0;
		}

		.wtbx_pricing_box_content {
			padding-top: 30px;
			border-top-style: solid;
			border-top-width: 1px;
		}

		&.wtbx_skin_dark {
			.wtbx_pricing_box_title,
			.wtbx_pricing_box_price,
			.wtbx_pricing_box_currency,
			.wtbx_pricing_box_period {
				color: #fff;
			}

			.wtbx_pricing_box_subtitle,
			.wtbx_pricing_box_description {
				color: rgba(255,255,255,.4);
			}

			.wtbx_pricing_box_content {
				color: #fff;
				border-color: rgba(255,255,255,.1);
			}
		}

		&.wtbx_pricing_box_emphasize {
			.wtbx_pricing_box_wrapper {
				box-shadow: $bs4-light;
				padding-top: 60px;
				padding-bottom: 60px;
				@include translate3d(0,-30px,0);
			}
		}
	}

	&.wtbx_style_2 {

		.wtbx_vc_pricing_box_inner {
			position: relative;
			z-index: 1;
		}

		.wtbx_pricing_box_wrapper {
			position: relative;
			border-radius: $br2;
			background-color: #fff;
			@include transition(all .3s $cb6);
			box-shadow: $bs3-light;

			&:hover {
				box-shadow: $bs3h-light;
			}

			.wtbx_pricing_box_header {
				padding-bottom: 30px;

				.wtbx_pricing_box_title_wrapper {
					position: relative;
					display: block;
					margin-top: 30px;
					padding-top: 30px;

					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 50%;
						width: 60px;
						height: 2px;
						border-radius: 2px;
						@include translate3d(-50%,0,0);
					}
				}

				.wtbx_pricing_box_title {
					font-size: 1.428571em;
					line-height: 1.5;
					display: block;
					text-overflow: clip;
					text-overflow: ellipsis;
					text-overflow: "…";
					white-space: nowrap;
					overflow: hidden;
				}

				.wtbx_pricing_box_subtitle {
					font-size: 1em;
					line-height: 1.5;
					min-height: 1.5em;
					display: block;
					text-overflow: clip;
					text-overflow: ellipsis;
					text-overflow: "…";
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}

		.wtbx_pricing_box_price_wrapper {
			padding-top: 30px;
			white-space: nowrap;

			.wtbx_pricing_box_price {
				font-size: 46px;
				line-height: 46px;
				font-weight: 600;
				display: inline-block;
			}

			.wtbx_pricing_box_currency {
				font-size: 1.857143em;
				vertical-align: 12px;
				line-height: 46px;
				font-weight: 400;
				display: inline-block;
			}

			.wtbx_pricing_box_period {
				font-size: 0.857143em;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: $spacing2;
				display: block;
			}
		}

		.wtbx_pricing_box_description {
			display: block;
			font-size: 1em;
			padding: 30px 0 0;
			text-align: center;
		}

		.wtbx_pricing_box_content {
			padding-top: 30px;
			border-top-style: solid;
			border-top-width: 1px;
		}

		&.wtbx_skin_dark {
			.wtbx_pricing_box_title,
			.wtbx_pricing_box_price,
			.wtbx_pricing_box_currency {
				color: #fff;
			}

			.wtbx_pricing_box_description,
			.wtbx_pricing_box_period {
				color: rgba(255,255,255,.4);
			}

			.wtbx_pricing_box_content {
				color: #fff;
				border-color: rgba(255,255,255,.1);
			}
		}

		&.wtbx_pricing_box_emphasize {

			.wtbx_pricing_box_wrapper {
				box-shadow: $bs4-light;
				padding-top: 60px;
				padding-bottom: 60px;
				@include translate3d(0,-30px,0);
			}
		}
	}

	&.wtbx_style_3 {

		.wtbx_vc_pricing_box_inner {
			position: relative;
			z-index: 1;
		}

		.wtbx_pricing_box_wrapper {
			position: relative;
			border-radius: $br2;
			background-color: #fff;
			@include transition(all .3s $cb6);
			box-shadow: $bs3-light;

			&:hover {
				box-shadow: $bs3h-light;
			}

			.wtbx_pricing_box_header {
				padding-bottom: 30px;

				.wtbx_pricing_box_title_wrapper {
					position: relative;
					display: block;
				}

				.wtbx_pricing_box_title {
					font-size: 1.571429em;
					font-weight: 600;
					line-height: 1.5;
					display: block;
					text-overflow: clip;
					text-overflow: ellipsis;
					text-overflow: "…";
					white-space: nowrap;
					overflow: hidden;
				}

				.wtbx_pricing_box_subtitle {
					font-size: 0.928571em;
					line-height: 1.5;
					min-height: 1.5em;
					display: block;
					text-overflow: clip;
					text-overflow: ellipsis;
					text-overflow: "…";
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}

		.wtbx_pricing_box_price_wrapper {
			padding-bottom: 30px;
			white-space: nowrap;

			.wtbx_pricing_box_price {
				font-size: 50px;
				line-height: 50px;
				font-weight: 700;
				display: inline-block;
				position: relative;
				padding: 0 5px;
			}

			.wtbx_pricing_box_price_small {
				font-size: 20px;
				line-height: 26px;
				display: inline-block;
				position: absolute;
				left: 100%;
				top: 0;
			}

			.wtbx_pricing_box_currency {
				font-size: 1.857143em;
				line-height: 50px;
				font-weight: 700;
				display: inline-block;
			}

			.wtbx_pricing_box_period {
				font-size: 1em;
				display: inline-block;
			}
		}

		.wtbx_pricing_box_description {
			display: block;
			font-size: 1em;
			padding: 30px 0 0;
			text-align: center;
		}

		.wtbx_pricing_box_content {
			padding-top: 30px;
			border-top-style: solid;
			border-top-width: 1px;
		}

		&.wtbx_skin_dark {
			.wtbx_pricing_box_title,
			.wtbx_pricing_box_price,
			.wtbx_pricing_box_currency,
			.wtbx_pricing_box_period {
				color: #fff;
			}

			.wtbx_pricing_box_description {
				color: rgba(255,255,255,.4);
			}

			.wtbx_pricing_box_content {
				color: #fff;
				border-color: rgba(255,255,255,.1);
			}
		}

		&.wtbx_pricing_box_emphasize {

			.wtbx_pricing_box_wrapper {
				box-shadow: $bs4-light;
				padding-top: 60px;
				padding-bottom: 60px;
				@include translate3d(0,-30px,0);
			}
		}
	}

}



/*
* Pricing feature
*/

.wtbx_vc_pricing_box_feature {

	&.wtbx_bullet_align_left {
		.wtbx_pricing_box_feature_bold,
		.wtbx_pricing_box_feature_badge,
		.wtbx_pricing_box_feature_icon {
			margin-right: .5em;
		}
	}

	&.wtbx_bullet_align_right {
		.wtbx_pricing_box_feature_bold,
		.wtbx_pricing_box_feature_badge,
		.wtbx_pricing_box_feature_icon {
			margin-left: .5em;
		}
	}

	.wtbx_pricing_box_feature_bold {
		font-weight: 700;
	}

	.wtbx_pricing_box_feature_badge {
		color: #fff;
		font-weight: 700;
		display: inline-block;
		padding: 0 .5em;
		font-size: 85%;
		border-radius: 2px;
	}

	.wtbx_pricing_box_feature_icon {
		display: inline-block;
		font-size: 120%;
		line-height: inherit;
		vertical-align: middle;
	}

}