
$green:             #0acc6c;
$orange:			#ffb452;
$red:				#ff334f;
$yellow:			#ffb400;
$pink:              #ff3366;
$blue:              #4970ff;

$br: 3px;
$br2: 6px;
$br3: 9px;


// segments
$box-shadow-s1:      0px 8px 40px rgba(18, 20, 28, 0.7);
$box-shadow-s2:      0px 12px 60px rgba(18, 20, 28, 0.7);
$box-shadow-s3:      0px 16px 80px rgba(18, 20, 28, 0.7);
$box-shadow-s4:      0px 20px 100px rgba(18, 20, 28, 0.7);
$box-shadow-s5:      0px 24px 120px rgba(18, 20, 28, 0.7);


// small
$box-shadow1:        0 1px 5px -1px rgba(14,21,47,0.3);
$box-shadow6:        0 1px 5px -1px rgba(14,21,47,0.5);
$box-shadow7:        0 1px 6px 0 rgba(14,21,47,0.25);
$box-shadow32:       0 1px 7px -2px rgba(14,21,47,0.3);

// medium
$box-shadow2:        0 3px 13px -1px rgba(14,21,47,0.4);
$box-shadow3:        0 3px 13px -1px rgba(14,21,47,0.3);
$box-shadow10:       0 3px 13px -1px rgba(14,21,47,0.5);
$box-shadow13:       0 3px 13px -1px rgba(14,21,47,0.9);
$box-shadow15:       0 3px 13px -1px rgba(14,21,47,0.2);
$box-shadow27:       0 2px 13px -3px rgba(14,21,47,0.2);

// large
$box-shadow4:        0 5px 20px -1px rgba(14,21,47,0.2);
$box-shadow5:        0 5px 20px -2px rgba(14,21,47,0.3);
$box-shadow8:        0 5px 35px -3px rgba(14,21,47,0.2);
$box-shadow9:        0 10px 20px -5px rgba(14,21,47,0.5);
$box-shadow14:       0 10px 20px -5px rgba(14,21,47,0.8);
$box-shadow11:       0 15px 40px 0px rgba(14,21,47,0.4);
$box-shadow12:       0 10px 30px 0px rgba(14,21,47,0.8);
$box-shadow16:       0 7px 30px -2px rgba(14,21,47,0.4);
$box-shadow17:       0 10px 50px -5px rgba(14,21,47,0.2);
$box-shadow18:       0 5px 35px -3px rgba(14,21,47,0.5);
$box-shadow19:       0 5px 25px -5px rgba(14,21,47,0.15);
$box-shadow20:       0 10px 50px -5px rgba(14,21,47,0.4);
$box-shadow21:       0 30px 50px -5px rgba(14,21,47,0.2);
$box-shadow22:       0 10px 40px -5px rgba(14,21,47,0.2);
$box-shadow23:       0 20px 50px -5px rgba(14,21,47,0.2);
$box-shadow25:       0 0 40px 0 rgba(14,21,47,0.6);
$box-shadow26:       0 15px 35px -10px rgba(14,21,47,0.5);
$box-shadow28:       0 0 20px 0 rgba(14,21,47,0.1);
$box-shadow29:       0 5px 40px -5px rgba(14,21,47,0.2);
$box-shadow30:       0 35px 40px -20px rgba(14,21,47,0.4);
$box-shadow31:       0 15px 40px -5px rgba(14,21,47,0.25);
$box-shadow32:       0 5px 25px -5px rgba(14,21,47,0.25);
$box-shadow33:       0 15px 50px -10px rgba(14,21,47,0.2);

$bs1: 0 4px 15px -3px rgba(9,31,67,0.05);
$bs1h: 0 10px 25px -5px rgba(9,31,67,0.1);
$bs1-light: 0 4px 15px -3px rgba(9,31,67,0.1);
$bs1h-light: 0 10px 25px -5px rgba(9,31,67,0.15);
$bs1-medium: 0 4px 15px -3px rgba(9,31,67,0.15);
$bs1h-medium: 0 10px 25px -5px rgba(9,31,67,0.3);

$bs2: 0 5px 25px -4px rgba(9,31,67,0.05);
$bs2h: 0 12px 35px -7px rgba(9,31,67,0.1);
$bs2-light: 0 5px 25px -4px rgba(9,31,67,0.1);
$bs2h-light: 0 12px 35px -7px rgba(9,31,67,0.15);
$bs2-medium: 0 5px 25px -4px rgba(9,31,67,0.15);
$bs2h-medium: 0 12px 35px -7px rgba(9,31,67,0.3);
$bs2-dark: 0 5px 25px -4px rgba(9,31,67,0.3);
$bs2h-dark: 0 12px 35px -7px rgba(9,31,67,0.45);

$bs3: 0 8px 40px -5px rgba(9,31,67,0.05);
$bs3h: 0 15px 60px -10px rgba(9,31,67,0.1);
$bs3-light: 0 8px 40px -5px rgba(9,31,67,0.1);
$bs3h-light: 0 15px 60px -10px rgba(9,31,67,0.15);
$bs3-medium: 0 8px 40px -5px rgba(9,31,67,0.15);
$bs3h-medium: 0 15px 60px -10px rgba(9,31,67,0.3);
$bs3-dark: 0 8px 40px -5px rgba(9,31,67,0.3);
$bs3h-dark: 0 15px 60px -10px rgba(9,31,67,0.45);

$bs4: 0 15px 55px -5px rgba(9,31,67,0.05);
$bs4h: 0 20px 70px -10px rgba(9,31,67,0.1);
$bs4-light: 0 15px 55px -5px rgba(9,31,67,0.1);
$bs4h-light: 0 20px 70px -10px rgba(9,31,67,0.15);
$bs4-medium: 0 15px 55px -5px rgba(9,31,67,0.15);
$bs4h-medium: 0 20px 70px -10px rgba(9,31,67,0.3);
$bs4-dark: 0 15px 55px -5px rgba(9,31,67,0.3);
$bs4h-dark: 0 20px 70px -10px rgba(9,31,67,0.45);

$bs-header: 0 0 50px -5px rgba(9,31,67,0.07);


// inset
$box-shadow-i1:      inset 0 3px 5px -3px rgba(40,70,115,0.2);
$box-shadow-i2:      inset 0 1px 5px 0px rgba(40,70,115,0.35);
$box-shadow-i3:      inset 0 1px 5px 0px rgba(40,70,115,0.25);

// image cascade
$shadow-cascade1:    0 15px 50px -5px rgba(14,21,47,0.5);
$shadow-cascade2:    0 10px 30px -4px rgba(14,21,47,0.4);
$shadow-cascade3:    0 7px 20px -3px rgba(14,21,47,0.3);
$shadow-cascade4:    0 5px 15px -3px rgba(14,21,47,0.2);

// page slider
$shadow-slide1:      0 0 70px -5px rgba(14,21,47,0.5);

// upper
$box-shadow-u1:       0 0px 40px 4px rgba(40, 70, 115, 0.2);



/*=====================*/
/* CUBIC BEZIER CURVES */
/*=====================*/

$ease:      ease-in-out;
$elastic1:  cubic-bezier(0.68, -0.55, 0.265, 1.55);
$elastic2:  cubic-bezier(0.68, -0.55, 0.465, 3);

$easeScroll:cubic-bezier(0.250, 0.460, 0.450, 0.940);
$parallax:  cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeCursor:cubic-bezier(0,.54,0,1);


$cb1:       cubic-bezier(0.9, 0, 0.1, 1);
$cb2:       cubic-bezier(0.8, 0, 0.2, 1);
$cb2:       cubic-bezier(0.075, 0.820, 0.165, 1.000);
$cb3:       cubic-bezier(0.7, 0, 0.3, 1);
$cb4:       cubic-bezier(0.6, 0, 0.4, 1);
$cb5:       cubic-bezier(0.5, 0, 0.5, 1);

$cb6:       cubic-bezier(0.2, 0, 0.3, 1);
//$cb6:       cubic-bezier(0.15, 0.1, 0.1, 1);
$cb7:       cubic-bezier(0.2, 1, 0.3, 1);
$cb8:       cubic-bezier(0.82, 0.01, 0.77, 0.78);
$cb9:       cubic-bezier(0.5, 0, 0.35, 1);

$spacing1:   .05em;
$spacing2:   .1em;
$spacing3:   .2em;


